@model UAB.DAL.Models.ApplicationProject

<style>
    .modal-content {
        margin-top: 63px;
    }

    .custom-control-label:after {
        position: static;
    }

    .custom-control-label:before {
        position: static;
    }
</style>
<form asp-action="AddSettingsProject" asp-controller="UAB" method="POST">
    @Html.HiddenFor(model => model.ProjectId, new { @class = "form-control", @autofocus = "autofocus", @autocomplete = "off" })
    <div class="modal fade modal-mini modal-primary show" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 500px;">
                <div class="modal-header" style="background: #27a9e3;color: white;">
                    @if (Model.ProjectId != 0)
                    {
                        <h5 class="modal-title" style="width:300px">Update Project</h5>
                    }
                    else
                    {
                        <h5 class="modal-title" style="width:300px">Add Project</h5>
                    }
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ModalClose1()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @autofocus = "autofocus", @autocomplete = "off", @placeholder = "Enter Project Name " })
                        @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                    </div>
                    <br />
                    <div>
                        @Html.DropDownListFor(model => model.ClientId, new SelectList(@ViewBag.Clients, "ClientId", "Name"), "--Select a Client--", new { @id = "clientid", @class = "form-control CoderDetails" })
                        @Html.ValidationMessageFor(model => model.ClientId, null, new { @class = "text-danger" })
                    </div>
                    <br />
                    <div>
                        @Html.CheckBoxFor(model => model.IsActive, new { @id = "customControlAutosizing1" })
                        <label for="customControlAutosizing1">Is Active</label>
                    </div>
                    <br />
                    <div>
                        @Html.TextBoxFor(model => model.InputFileLocation, new { @class = "form-control", @autofocus = "autofocus", @autocomplete = "off", @placeholder = "Enter File Location " })
                        @Html.ValidationMessageFor(model => model.InputFileLocation, null, new { @class = "text-danger" })
                    </div>
                    <br />
                    <div>
                        @Html.TextBoxFor(model => model.InputFileFormat, new { @class = "form-control", @autofocus = "autofocus", @autocomplete = "off", @placeholder = "File Format must be less than 5 character" })
                        @Html.ValidationMessageFor(model => model.InputFileFormat, null, new { @class = "text-danger" })
                    </div>
                    <br />
                    <div>
                        @Html.DropDownListFor(model => model.ProjectTypeId, new SelectList(@ViewBag.ProjectTypes, "ProjectTypeId", "ProjectTypeName"), "--Select a Project Type--", new { @id = "clientid", @class = "form-control CoderDetails" })
                        @Html.ValidationMessageFor(model => model.ProjectTypeId, null, new { @class = "text-danger" })
                    </div>
                    <br />
                    <div>
                        @Html.TextBoxFor(model => model.SLAInDays, new { @class = "form-control", @autofocus = "autofocus", @autocomplete = "off", @placeholder = "Enter SLA in Days", @id = "slindays" })
                    </div>
                </div>
                <div class="modal-footer">
                    @if (Model.ProjectId != 0)
                    {
                        <button type="submit" class="btn btn-success Available">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success Available">Add</button>
                    }
                    <button type="button" class="btn btn-danger" onclick="ModalClose1()">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#slindays").bind('keyup paste', function () {
            this.value = this.value.replace(/[^0-9]/g, '');
        });

        $("#projectdd").change(function () {
            var projectdd = $("#projectdd option:selected").text();
            if (projectdd !== "--Select a Project--")
                $("#validproject").html('');

        });

        $("#roledd").change(function () {
            var roledd = $("#roledd option:selected").text();
            if (roledd !== "--Select a Role--")
                $("#validrole").html('');

        });
    });
</script>
