@model UAB.DTO.SearchResultDTO

<style>
    .modal-content {
        margin-top: 90px;
    }

    .errorTxt {
        color: red;
        min-height: 20px;
    }

    .tableresponsiveforroles {
        max-height: 200px;
    }

    .roledddwith {
        width: 215px;
    }
</style>
@Html.HiddenFor(m => m.ClinicalCaseId, new { @id = "ccid" });
<div class="modal fade modal-mini modal-primary show" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 500px;">
            <div class="modal-header" style="background: #27a9e3;color: white;">
                <h5 class="modal-title" id="exampleModalLongTitle">Assign Clinical Case To User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ModalClose1()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-10">
                    <label>Assign From User : </label>
                    <span>@Model.AssignFromUserEmail</span>
                </div>
                <div class="col-md-12">
                    <label>Assign To User</label>
                    @Html.DropDownListFor(model => model.AssignToUserEmail, new SelectList(@ViewBag.assignusers, "UserId", "Email"), "--Select a User Email--", new { @id = "emailddto", @class = "form-control CoderDetails" })
                    @Html.ValidationMessageFor(model => model.AssignToUserEmail, null, new { @class = "text-danger" })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <br />
                <div class="col-md-3 custom-control custom-checkbox mr-sm-2" style="margin-left: 12px;">
                    @Html.CheckBoxFor(model => model.IsPriority, new { @class = "custom-control-input ShadowQADetails", @id = "customControlAutosizing2" })
                    <label class="custom-control-label" for="customControlAutosizing2">Is Priority</label>
                </div>
            </div>
            <div id="assignerror" style="color:red"></div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-info btn-fill" id="btnsubmit" onclick="AssignTo()">Assign</button>
                <button type="button" class="btn btn-sm btn-danger btn-fill" onclick="ModalClose1()">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function () {

        AssignTo = function () {
            var emailddto = $("#emailddto option:selected").text();
            if (emailddto === "--Select a User Email--") {
                $("#assignerror").html("Please Select Assign To Emails, before Assign");
                $("#assignerror").fadeOut(10000);
            }
            else {
                if (emailddto === "--Select a User Email--") {
                    $("#assignerror").html("Please Select To Email before Assign");
                    $("#assignerror").fadeOut(10000);
                }
                else
                    $("#assignerror").html('');
            }

            if (emailddto !== "--Select a User Email--") {
                 $.ajax({
                type: "POST",
                url: "@Url.Action("AssignClinicalCaseToUser", "UAB")",
                data:
                {
                    "ccid": $("#ccid").val(),
                    "AssignedTo": $("#emailddto option:selected").val(),
                    "IsPriority": $("#customControlAutosizing2").val()
                },
                success: function (response) {
                    $("#modalContent").html('');
                    $("#Msg").html('<div class="alert alert-success alert-dismissable"><i class="fa fa-check"></i><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>Clinical case Assigned Successfully</div>')
                },
                failure: function (response) {
                    alert(response);
                }
            });
        };
            }

        ModalClose1 = function () {
            $("#modalContent").html('');
        }

    });
</script>

