@model UAB.DTO.BlockDTO


<style>
    .modal-content {
        margin-top: 90px;
    }

    .errorTxt {
        color: red;
        min-height: 20px;
    }

    .tableresponsiveforroles {
        max-height: 200px;
    }

    .roledddwith {
        width: 215px;
    }
</style>
<div class="modal fade modal-mini modal-primary show" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 500px;">
            <div class="modal-header"style="background: #27a9e3;color: white;">
                <h5 class="modal-title" id="exampleModalLongTitle">Block Clinical case</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ModalClose1()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="ccid" value="@ViewBag.ccid" />
                <input type="hidden" id="statusid" value="@ViewBag.statusid" />
                <div class="col-md-12">
                    <label>Block Category</label>
                    @Html.DropDownListFor(model => model.BlockCategoryId, new SelectList(@ViewBag.BlockCategories, "BlockCategoryId", "Name"), "--Select a Category--", new { @id = "categorydd", @class = "form-control " })
                    @Html.ValidationMessageFor(model => model.BlockCategoryId, null, new { @class = "text-danger" })
                </div>
                <br />
                <div class="col-md-12">
                    <label>Comments</label>
                    @Html.TextAreaFor(model => model.Remarks, new { @id = "txtremarks", @placeholder = "Enter a Block Comments here", @class = "form-control ", @autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.Remarks, null, new { @class = "text-danger" })
                </div>
            </div>

            <div id="assignerror" style="color:red"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success Available" id="btnBlockClinicalCase" formnovalidate="formnovalidate" onclick="BlockClinicalcase()">Block</button>
                <button type="button" class="btn btn-danger" onclick="ModalClose1()">Close</button>
            </div>


        </div>
    </div>
</div>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="~/dashboardassets/extra-libs/DataTables/datatables.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        BlockClinicalcase = function () {
            $('#btnBlockClinicalCase').attr('disabled', true);
            if ($("#categorydd").find('option:selected').val() !== "" && $("#txtremarks").val() !== "") {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("BlockClinicalcase", "UAB")",
                    data: {
                        "ccid": $("#ccid").val(),
                        "bid": $("#categorydd").find('option:selected').val(),
                        "remarks": $("#txtremarks").val()
                    },
                    success: function (response) {
                        var sid = $("#statusid").val();
                        $("#modalContent").html('');
                        if (sid ==="5")
                            window.location.href = "/UAB/QASummary";
                        else if (sid === "9")
                            window.location.href = "/UAB/ShadowQASummary";
                        else
                            window.location.href = "/UAB/CodingSummary";
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            } else {
                alert("Please select category and enter remarks");
                $('#btnBlockClinicalCase').attr('disabled', false);
            }
        }
        ModalClose1 = function () {
            $("#modalContent").html('');
        }
});

</script>
