@model UAB.DTO.ChartSummaryDTO
@{
    ViewData["Title"] = "Coding";
}
<form asp-action="SubmitCodingAvailableChart" id="frmSubmitCodingAvailableChart" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model />
            <partial name="_CodingDetails" model=Model />
            <input type="hidden" id="providerFeedbackIds" name="ProviderFeedbackIds" />
            <input type="hidden" id="_providerPostedId" name="providerPostedId" />
            <input type="hidden" id="_payorPostedId" name="payorPostedId" />
            <input type="hidden" id="_txtPostingDate" name="txtPostingDate" />
            <input type="hidden" id="_txtCoderComment" name="txtCoderComment" />
            @if (Model.BlockResponseDTO.ResponseRemarks != null && Model.BlockResponseDTO.BlockedInQueueKind == "Coding")
            {
                <partial name="_BlockResponsePopUp" model=Model />
            }
        </div>
    </div>
</form>
<style>
    /* .input-group-text {
        display: none;
    }*/
    .AlignCross {
        display: inherit;
    }

    .multiselect {
        width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    select {
        -webkit-writing-mode: horizontal-tb !important;
        font-style:;
        font-variant-ligatures:;
        font-variant-caps:;
        font-variant-numeric:;
        font-variant-east-asian:;
        font-weight:;
        font-stretch:;
        font-size:;
        font-family:;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: auto;
        box-sizing: border-box;
        align-items: center;
        white-space: pre;
        -webkit-rtl-ordering: logical;
        background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
        cursor: default;
        margin: 0em;
        border-width: 1px;
        border-style: solid;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
        border-radius: 0px;
    }

    .btn-default {
        background-color: none !important;
        color: none !important;
    }
</style>
@*<link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />*@
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
@*<script src="~/js/bootstrap-multiselect.js"></script>*@
<script src="~/dashboardassets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $("#PayorID").focus();
    $("#hdnProviderPosted").val('');
     var enableNext = @(ViewBag.EnableNext == null ? "false": ViewBag.EnableNext);
    var enablePrevious = @(ViewBag.EnablePrevious == null ? "false" : ViewBag.EnablePrevious);

    var isBlocked = @(ViewBag.IsBlocked == null ? "0": "1");
    if (isBlocked == 1) {
        $("#btnBlockHistory").show();
        $("#btnProviderPosted").hide();

        if (enablePrevious == true) {
            $("#btnPrevious").css({
                'opacity': '100', 'pointer-events': 'auto'
            });
        } else {
            $("#btnPrevious").css({
                'opacity': '0.65', 'pointer-events': 'none'
            });
        }
        if (enableNext == true) {
            $("#btnNext").css({
                'opacity': '100', 'pointer-events': 'auto'
            });
        } else {
            $("#btnNext").css({
                'opacity': '0.65', 'pointer-events': 'none'
            });
        }
    }
    else {
        $("#btnPrevious").hide();
        $("#btnNext").hide();
    }


    $(document).ready(function () {

        $("#hdnAuditProviders").val("@Model.auditDTO?.ProviderIDs");
        $("#hdnAuditCPTCodes").val("@Model.auditDTO?.CPTCodes");

        ProviderPostedClinicalcase = function () {
            $("#_providerPostedId").val($("#providerPostedId").val());
            $("#_payorPostedId").val($("#payorPostedId").val());
            $("#_txtPostingDate").val($("#txtPostingDate").val());
            $("#_txtCoderComment").val($("#txtCoderComment").val());

            $("#frmSubmitCodingAvailableChart").submit();
        }
        ModalClose1 = function () {
            $("#modalContent").html('');
       }

       EnableProviderDrpDwn = function () {

           if ($("#chkWrongProvider").is(":checked")) {
               $("#hdnWrongProvider").val("true");
               $("#ProviderID").css("pointer-events", "auto");
               $("#ProviderID").css("background-color", "");
               $("#ProviderID").prop("selectedIndex", 0).val();
               EnableButton();
           }
           else {
               $("#hdnWrongProvider").val("false");
               $("#ProviderID").css("pointer-events", "none");
               $("#ProviderID").css("background-color", "#e9ecef");
               $("#ProviderID").val($("#InitialProviderID").val());
               EnableButton();
           }
       }
});

    function ShowSubmitPopup(buttonType,isAduditRequired)
    {
        $.ajax({
            type: "GET",
            url: "@Url.Action("codingSubmitPopup", "UAB")",
            data: {
                "chartSummaryDTO": "@Model",
                "buttonType": buttonType,
                "isAuditRequired": isAduditRequired
            },
            success: function (response) {
                $("#modalContent").html(response);
            },
            failure: function (response) {
                alert(response);
            }
        });
    }


    $('#codingSubmit,#codingSubmitAndGetNext,#btnProviderPosted').click(function (e) {

        var arrProviders = [];
        var arrCPTCodes = [];

        if ($("#hdnAuditProviders").val() != "")
            arrProviders = $("#hdnAuditProviders").val().split(",");

        if ($("#hdnAuditCPTCodes").val() != "")
            arrCPTCodes = $("#hdnAuditCPTCodes").val().split(",");

        var auditMandatory = "";

        if (arrProviders.length !=0 && jQuery.inArray($("#ProviderID").val(), arrProviders) != -1)
            auditMandatory = "1";

        var claimArray = [];
        $(".AlignCross .tab").each(function () {
            var tabid = $(this).attr('id');
            if (arrProviders.length != 0 && jQuery.inArray($("#Providers_" + tabid).val(), arrProviders) != -1)
                auditMandatory = "1";
            var billingProviderID = 0;
            if ($("#BillingProviders_" + tabid).length)
                billingProviderID = $("#BillingProviders_" + tabid).val();

            claimArray.push($("#Providers_" + tabid).val() + "^" + billingProviderID + "^" + $("#Payors_" + tabid).val() + "^" + $("#NoteTitle_" + tabid).val() + "^" + $("#ProviderFeedbacks_" + tabid).val());
            $("#hdnClaim" + tabid).val(claimArray);
            claimArray = [];
        });

        //Claim1
        var DxCodes = $("[id*=txtDx_]");
        $("#hdnDxCodes").val("");
        for (var i = 0; i < DxCodes.length; i++) {

                if ($("#" + $(DxCodes[i]).attr("id")).val() != "") {
                    if ($("#hdnDxCodes").val() == "")
                        $("#hdnDxCodes").val($(DxCodes[i]).val());
                    else
                        $("#hdnDxCodes").val($("#hdnDxCodes").val() + "," + $(DxCodes[i]).val());
                }
        }

        //Claim2
        DxCodes = $("[id*=txtDx2Claim_]");
        $("#hdnDxCodes1").val("");
        for (var i = 0; i < DxCodes.length; i++) {

            if ($("#" + $(DxCodes[i]).attr("id")).val() != "") {
                if ($("#hdnDxCodes1").val() == "")
                    $("#hdnDxCodes1").val($(DxCodes[i]).val());
                else
                    $("#hdnDxCodes1").val($("#hdnDxCodes1").val() + "," + $(DxCodes[i]).val());
            }
        }

        //Claim3
        DxCodes = $("[id*=txtDx3Claim_]");
        $("#hdnDxCodes2").val("");
        for (var i = 0; i < DxCodes.length; i++) {

            if ($("#" + $(DxCodes[i]).attr("id")).val() != "") {
                if ($("#hdnDxCodes2").val() == "")
                    $("#hdnDxCodes2").val($(DxCodes[i]).val());
                else
                    $("#hdnDxCodes2").val($("#hdnDxCodes2").val() + "," + $(DxCodes[i]).val());
            }
        }

        //Claim4
        DxCodes = $("[id*=txtDx4Claim_]");
        $("#hdnDxCodes3").val("");
        for (var i = 0; i < DxCodes.length; i++) {

            if ($("#" + $(DxCodes[i]).attr("id")).val() != "") {
                if ($("#hdnDxCodes3").val() == "")
                    $("#hdnDxCodes3").val($(DxCodes[i]).val());
                else
                    $("#hdnDxCodes3").val($("#hdnDxCodes3").val() + "," + $(DxCodes[i]).val());
            }
        }

        //Default CPT
        $("#hdnCptCodes").val("");
        var CptCodes = $("[id*=DivCptRow_]");
        for (var i = 1; i <= CptCodes.length; i++) {

            if (arrCPTCodes.length != 0 && jQuery.inArray($("#txtCpt_" + i).val(), arrCPTCodes) != -1)
                auditMandatory = "1";

            if ($("#hdnCptCodes").val() == "") {
                if ($("#txtCpt_" + i).val() != "") {
                    var mod = $("#txtMod_" + i).val() != "" ? $("#txtMod_" + i).val() : null;
                    var qty = $("#txtQty_" + i).val() != "" ? $("#txtQty_" + i).val() : null;
                    var links = $("#txtLinks_" + i).val() != "" ? $("#txtLinks_" + i).val() : null;
                    $("#hdnCptCodes").val($("#txtCpt_" + i).val() + "^" + mod + "^" + qty + "^" + links);
                }
            } else {
                if ($("#txtCpt_" + i).val() != "") {
                    var mod = $("#txtMod_" + i).val() != "" ? $("#txtMod_" + i).val() : null;
                    var qty = $("#txtQty_" + i).val() != "" ? $("#txtQty_" + i).val() : null;
                    var links = $("#txtLinks_" + i).val() != "" ? $("#txtLinks_" + i).val() : null;
                    $("#hdnCptCodes").val($("#hdnCptCodes").val() + "|" + $("#txtCpt_" + i).val() + "^" + mod + "^" + qty + "^" + links);
               }
            }
        }

        //CPT2 to CPT4
        for (var j = 2; j <= 4; j++)
        {
            $("#hdnCptCodes" + (j-1)).val("");

            var CptClaimCodes = $("[id*=Div" + j + "CptRow_]");


            for (var i = 1; i <= CptClaimCodes.length; i++) {

                if (arrCPTCodes.length != 0 && jQuery.inArray($("#txt" + j + "Cpt_" + i).val(), arrCPTCodes) != -1)
                    auditMandatory = "1";

                if ($("#hdnCptCodes" + (j-1)).val() == "") {
                    if ($("#txt"+ j +"Cpt_" + i).val() != "") {
                        var mod = $("#txt" + j + "mod_" + i).val() != "" ? $("#txt" + j +"mod_" + i).val() : null;
                        var qty = $("#txt" + j + "qty_" + i).val() != "" ? $("#txt" + j +"qty_" + i).val() : null;
                        var links = $("#txt" + j + "links_" + i).val() != "" ? $("#txt" + j +"links_" + i).val() : null;
                        $("#hdnCptCodes" + (j-1)).val($("#txt" + j +"Cpt_" + i).val() + "^" + mod + "^" + qty + "^" + links);
                    }
                } else {
                    if ($("#txt" + j +"Cpt_" + i).val() != "") {
                        var mod = $("#txt" + j + "mod_" + i).val() != "" ? $("#txt" + j +"mod_" + i).val() : null;
                        var qty = $("#txt" + j + "qty_" + i).val() != "" ? $("#txt" + j +"qty_" + i).val() : null;
                        var links = $("#txt" + j + "links_" + i).val() != "" ? $("#txt" + j +"links_" + i).val() : null;
                        $("#hdnCptCodes" + (j-1)).val($("#hdnCptCodes" + (j-1)).val() + "|" + $("#txt" + j +"Cpt_" + i).val() + "^" + mod + "^" + qty + "^" + links);
                    }
                }
            }
        }

        var buttonType = $(this).attr("name");
        $("#hdnButtonType").val(buttonType);
        if (buttonType === "btnProviderPosted") {
            $("#hdnProviderPosted").val('1');
            $.ajax({
                         type: "GET",
                         url: "@Url.Action("ProviderPostedClinicalcase", "UAB")",
                         data: {
                             "chartSummaryDTO": "@Model",
                             "providerId": $("#providerId").val(),
                             "txtPostingDate": $("#txtPostingDate").val(),
                             "txtCoderComment": $("#txtCoderComment").val(),
                             "buttonType": buttonType
                         },
                         success: function (response) {
                             $("#modalContent").html(response);
                         },
                         failure: function (response) {
                             alert(response);
                         }
                     });
        }
        else {
            var isAuditRequired = (@Model.IsAuditRequired.ToString().ToLower());

            if (auditMandatory == "1") {
                ShowSubmitPopup('',"true");
            }
            else {
                ShowSubmitPopup('', isAuditRequired);
            }
        }
        EnableButton();
        EnableButtonForClaim2();
        EnableButtonForClaim3();
    });

    $("#coding").addClass('selected');
    $('.Approved').hide();
    $('#divAnswer').hide();

    var dxArray = [];
    function DxFunction(txt_0) {
        var id = parseInt(txt_0.split("_")[1]) + parseInt(1);
        if (txt_0.split("_")[1] !== undefined) {
            var currId = parseInt(id) - parseInt(1);
            var val = $("#txtDx_" + currId).val();
            if (val !== "" && val !== null) {
                if ($.inArray(val, dxArray) == -1) {
                    dxArray.push(val);
                    //$("#hdnDxCodes").val(dxArray);
                    var text = "'" + "txt_" + id + "'";
                    var deleteDx = "'" + "DivDxRow_" + id + "'";
                    $("#DivDx").append('<div id="DivDxRow_' + id + '" class="form-group row"><label class= "col-md-3 m-t-15" style="margin-right: -115px;" ></label><div class="col-md-3 input-group"><div class="input-group-prepend ControlHeight"><span class="input-group-text dxindex AdjustSerialNumber" id="basic-addon1">' + id + '</span></div><input type="text" placeholder="Code" onfocusout="DxFunction(' + text + ')" class="form-control CoderDetails txtDx" id="txtDx_' + id + '" /><button type="button" id="DeleteDxCodes_' + id + '" class="btn btn-sm" style="max-width:18px;padding-left:5px;margin-left:-5px;" onclick="DeleteDxCodes(' + deleteDx + ')"><i class="fa fa-times"></i></button></div></div>');
                    $("#txtDx_" + currId).removeAttr("onfocusout", "");
                    $("#txtDx_1").removeAttr("onfocusout", "");
                    $("#txtDx_" + id).focus();
                } else {
                    $("#txtDx_" + currId).addClass('text-danger');
                }
            } else {
                $("#txtCpt_1").focus();
            }
        }
    }

    var dxArray2 = [];
    var dxArray3 = [];
    var dxArray4 = [];
    function DxClaims(txt_0) {
        var id = parseInt(txt_0.split("_")[1]) + parseInt(1);
        var claimid = parseInt(txt_0.split("_")[2]);
        if (claimid == 2) {
            if (txt_0.split("_")[1] !== undefined) {
                var currId = parseInt(id) - parseInt(1);
                var val = $("#txtDx2Claim_" + currId).val();
                if (val !== "" && val !== null) {
                    if ($.inArray(val, dxArray2) == -1) {
                        dxArray2.push(val);
                        //$("#hdnDxCodes1").val(dxArray2);
                        var text = "'" + "txt" + claimid +"Dx_" + id + "_" + parseInt(2) + "'";
                        var deleteDx = "'" + "Div2DxRow_" + id + "_" + claimid + "'";
                        $("#DivDx_2").append('<div id="Div2DxRow_' + id + "_" + claimid + '" class="form-group row"><label class= "col-md-3 m-t-15" style="margin-right: -115px;" ></label><div class="col-md-3 input-group"><div class="input-group-prepend ControlHeight"><span class="input-group-text dx2index AdjustSerialNumber" id="basic-addon1">' + id + '</span></div><input type="text" placeholder="Code" onfocusout="DxClaims(' + text + ')" class="form-control CoderDetails claim_' + claimid + '" id="txtDx2Claim_' + id + '" /><button type="button" id="DeleteDx2Codes_' + id + '" class="btn btn-sm" style="max-width:18px;padding-left:5px;margin-left:-5px;" onclick="DeleteDxClaims(' + deleteDx +')"><i class="fa fa-times"></i></button></div></div>');
                        $("#txtDx2Claim_" + currId).removeAttr("onfocusout", "");
                        $("#txtDx2Claim_1").removeAttr("onfocusout", "");
                        $("#txtDx2Claim_" + id).focus();
                    }
                }
                else {
                    $("#txt2Cpt_1").focus();
                }
            }
        }
        if (claimid == 3) {
            if (txt_0.split("_")[1] !== undefined) {
                var currId = parseInt(id) - parseInt(1);
                var val = $("#txtDx3Claim_" + currId).val();
                if (val !== "" && val !== null) {
                    if ($.inArray(val, dxArray3) == -1) {
                        dxArray3.push(val);
                        //$("#hdnDxCodes2").val(dxArray3);
                        var text = "'" + "txt" + claimid+"Dx_" + id + "_" + parseInt(3) + "'";
                        var deleteDx = "'" + "Div3DxRow_" + id + "_" + claimid + "'";
                        $("#DivDx_3").append('<div id="Div3DxRow_' + id + "_" + claimid + '" class="form-group row"><label class= "col-md-3 m-t-15" style="margin-right: -115px;" ></label><div class="col-md-3 input-group"><div class="input-group-prepend ControlHeight"><span class="input-group-text dx3index AdjustSerialNumber" id="basic-addon1">' + id + '</span></div><input type="text" placeholder="Code" onfocusout="DxClaims(' + text + ')" class="form-control CoderDetails claim_' + claimid + '" id="txtDx3Claim_' + id + '" /><button type="button" id="DeleteDx3Codes_' + id + '" class="btn btn-sm" style="max-width:18px;padding-left:5px;margin-left:-5px;" onclick="DeleteDxClaims(' + deleteDx + ')"><i class="fa fa-times"></i></button></div></div>');
                        $("#txtDx3Claim_" + currId).removeAttr("onfocusout", "");
                        $("#txtDx3Claim_1").removeAttr("onfocusout", "");
                        $("#txtDx3Claim_" + id).focus();
                    }
                } else {
                    $("#txt3Cpt_1").focus();
                }
            }
        }
        if (claimid == 4) {
            if (txt_0.split("_")[1] !== undefined) {
                var currId = parseInt(id) - parseInt(1);
                var val = $("#txtDx4Claim_" + currId).val();
                if (val !== "" && val !== null) {
                    if ($.inArray(val, dxArray4) == -1) {
                        dxArray4.push(val);
                        //$("#hdnDxCodes3").val(dxArray4);
                        var text = "'" + "txt" + claimid +"Dx_" + id + "_" + parseInt(4) + "'";
                        var deleteDx = "'" + "Div4DxRow_" + id + "_" + claimid + "'";
                        $("#DivDx_4").append('<div id="Div4DxRow_' + id + "_" + claimid + '" class="form-group row"><label class= "col-md-3 m-t-15" style="margin-right: -115px;" ></label><div class="col-md-3 input-group"><div class="input-group-prepend ControlHeight"><span class="input-group-text dx4index AdjustSerialNumber" id="basic-addon1">' + id + '</span></div><input type="text" placeholder="Code" onfocusout="DxClaims(' + text + ')" class="form-control CoderDetails claim_' + claimid + '" id="txtDx4Claim_' + id + '" /><button type="button" id="DeleteDx4Codes_' + id + '" class="btn btn-sm" style="max-width:18px;padding-left:5px;margin-left:-5px;" onclick="DeleteDxClaims(' + deleteDx + ')"><i class="fa fa-times"></i></button></div></div>');
                        $("#txtDx4Claim_" + currId).removeAttr("onfocusout", "");
                        $("#txtDx4Claim_1").removeAttr("onfocusout", "");
                        $("#txtDx4Claim_" + id).focus();
                    }
                } else {
                    $("#txt4Cpt_1").focus();
                }
            }
        }
    }

    var cptArray = [];
    function CptFunction(txtCpt_0) {
        var id = parseInt(txtCpt_0.split("_")[1]) + parseInt(1);
        if (txtCpt_0.split("_")[1] !== undefined) {
            var id1 = parseInt(id) - parseInt(1);
            var val1 = $("#txtCpt_" + id1).val();

            var val2 = null;
            if ($("#txtMod_" + id1).val() != "")
                val2 = $("#txtMod_" + id1).val();

            var val3 = null;
            if ($("#txtQty_" + id1).val() != "")
                val3 = $("#txtQty_" + id1).val();

            var val4 = null;
            if ($("#txtLinks_" + id1).val() != "")
                val4 = $("#txtLinks_" + id1).val();

            if (val1 !== "") {
                if ($.inArray(val1, cptArray) == -1) {
                    cptArray.push(val1 + "^" + val2 + "^" + val3 + "^" + val4);
                    //$("#hdnCptCodes").val(cptArray);
                    var count = id + parseInt(1);
                    var txtLinks = "'" + "txtLinks_" + id + "'";
                    var deleteCpt = "'" + "DivCptRow_" + id + "'";
                    var tabindex1 = parseInt(9) + parseInt(id) + parseInt(count) + parseInt(val1);
                    var tabindex2 = parseInt(10) + parseInt(id) + parseInt(count) + parseInt(val1);
                    var tabindex3 = parseInt(11) + parseInt(id) + parseInt(count) + parseInt(val1);
                    var tabindex4 = parseInt(12) + parseInt(id) + parseInt(count) + parseInt(val1);
                    $("#DivCpt").append('<div id="DivCptRow_' + id + '" class="form-group row"><label class= "col-md-3 m-t-15" style="margin-right: -115px;" ></label><div class="col-md-3 CptlessWidth input-group"><div class="input-group-prepend ControlHeight"><span class="input-group-text cptindex AdjustSerialNumber" id="basic-addon1">' + id + '</span></div><input tabindex = "' + tabindex1 + '" type = "text" placeholder = "Code" style="max-width:55px;" maxlength="5" class= "form-control CoderDetails txtCpt" id = "txtCpt_' + id + '" /><input tabindex="' + tabindex2 + '" type="text" class="form-control CoderDetails" style="max-width:50px;" placeholder="Mod" id="txtMod_' + id + '"/><input tabindex="' + tabindex3 + '" type="text" class="form-control CoderDetails cptQtyClaim" style="max-width:25px;" placeholder="Qty" value="1" id="txtQty_' + id + '"/><input tabindex="' + tabindex4 + '" type="text" class="form-control CoderDetails cptLinksClaim txtLinks" placeholder="Link All" onfocusout="CptFunction(' + txtLinks + ')" id="txtLinks_' + id + '"/><button type="button" class="btn btn-sm" style="max-width:18px;padding-left:5px;margin-left:-5px;" onclick="DeleteCptCodes(' + deleteCpt + ')"><i class="fa fa-times"></i></button></div></div>');
                    $("#txtLinks_" + id1).removeAttr("onfocusout", "");
                    $("#txtLinks_1").removeAttr("onfocusout", "");
                    $("#txtCpt_" + id).focus();
                    EnableButton();
                    EnableButtonForClaim2();
                    EnableButtonForClaim3();
                }
            } else {
                $("#ProviderFeedbackID").focus();
            }
        }
    }

    var cptArray2 = [];
    var cptArray3 = [];
    var cptArray4 = [];
    function CptClaims(txtCpt_0) {
        var id = parseInt(txtCpt_0.split("_")[1]) + parseInt(1);
        var claimid = parseInt(txtCpt_0.split("_")[2]);
        if (claimid == 2) {
            if (txtCpt_0.split("_")[1] !== undefined) {
                var id1 = parseInt(id) - parseInt(1);
                var val1 = $("#txt2Cpt_" + id1).val();
                if (val1 !== "") {
                    if ($.inArray(val1, cptArray2) == -1) {
                        if (val1 !== undefined) {
                            var txtLinks = "'" + "txt" + claimid + "links_" + id + "_" + parseInt(2) + "'";
                            var deleteCpt = "'" + "Div2CptRow_" + id + "_" + claimid + "'";
                            $("#DivCpt_2").append('<div id="Div2CptRow_' + id + "_" + claimid + '" class="form-group row"><label class= "col-md-3 m-t-15" style="margin-right: -115px;" ></label><div class="col-md-3 CptlessWidth input-group"><div class="input-group-prepend ControlHeight"><span class="input-group-text cpt2index AdjustSerialNumber" id="basic-addon1">' + id + '</span></div><input type = "text" placeholder = "Code" style="max-width:55px;" maxlength="5" class= "form-control CoderDetails Cptclaim_' + claimid + '" id = "txt2Cpt_' + id + '" /><input type="text" style="max-width:50px;" class="form-control CoderDetails Cptclaim_' + claimid + '" placeholder="Mod" id="txt2mod_' + id + '"/><input type="text" style="max-width:30px;" class="form-control CoderDetails cptQtyClaim Cptclaim_' + claimid + '" placeholder="Qty" value="1" id="txt2qty_' + id + '"/><input type="text" class="form-control CoderDetails cptLinksClaim Cptclaim_' + claimid + '" placeholder="Link All" onfocusout="CptClaims(' + txtLinks + ')" id="txt2links_' + id + '"/><button type="button" class="btn btn-sm" style="max-width:18px;padding-left:5px;margin-left:-5px;" onclick="DeleteCptClaims(' + deleteCpt +')"><i class="fa fa-times"></i></button></div></div>');
                            $("#txt2links_" + id1).removeAttr("onfocusout", "");
                            $("#txt2links_1").removeAttr("onfocusout", "");
                            $("#txt2Cpt_" + id).focus();
                            EnableButton();
                            EnableButtonForClaim2();
                            EnableButtonForClaim3();
                        }
                    }
                }
                else {
                    $("#ProviderFeedbacks_" + id).focus();
                }
            }
        }

        if (claimid == 3) {
            if (txtCpt_0.split("_")[1] !== undefined) {
                var id1 = parseInt(id) - parseInt(1);
                var val1 = $("#txt3Cpt_" + id1).val();
                if (val1 !== "") {
                    if ($.inArray(val1, cptArray3) == -1) {
                        if (val1 !== undefined) {
                            var txtLinks = "'" + "txt" + claimid + "links_" + id + "_" + parseInt(3) + "'";
                            var deleteCpt = "'" + "Div3CptRow_" + id + "_" + claimid + "'";
                            $("#DivCpt_3").append('<div id="Div3CptRow_' + id + "_" + claimid + '" class="form-group row"><label class= "col-md-3 m-t-15" style="margin-right: -115px;" ></label><div class="col-md-3 CptlessWidth input-group"><div class="input-group-prepend ControlHeight"><span class="input-group-text cpt2index AdjustSerialNumber" id="basic-addon1">' + id + '</span></div><input type = "text" placeholder = "Code" style="max-width:55px;" maxlength="5" class= "form-control CoderDetails Cptclaim_' + claimid + '" id = "txt3Cpt_' + id + '" /><input type="text" style="max-width:50px;" class="form-control CoderDetails Cptclaim_' + claimid + '" placeholder="Mod" id="txt3mod_' + id + '"/><input type="text" style="max-width:30px;" class="form-control CoderDetails cptQtyClaim Cptclaim_' + claimid + '" placeholder="Qty" value="1" id="txt3qty_' + id + '"/><input type="text" class="form-control CoderDetails cptLinksClaim Cptclaim_' + claimid + '" placeholder="Link All" onfocusout="CptClaims(' + txtLinks + ')" id="txt3links_' + id + '"/><button type="button" class="btn btn-sm" style="max-width:18px;padding-left:5px;margin-left:-5px;" onclick="DeleteCptClaims(' + deleteCpt + ')"><i class="fa fa-times"></i></button></div></div>');
                            $("#txt3links_" + id1).removeAttr("onfocusout", "");
                            $("#txt3links_1").removeAttr("onfocusout", "");
                            $("#txt3Cpt_" + id).focus();
                            EnableButton();
                            EnableButtonForClaim2();
                            EnableButtonForClaim3();
                        }
                    }
                }
                else {
                    $("#ProviderFeedbacks_" + id).focus();
                }
            }
        }

        if (claimid == 4) {
            if (txtCpt_0.split("_")[1] !== undefined) {
                var id1 = parseInt(id) - parseInt(1);
                var val1 = $("#txt4Cpt_" + id1).val();
                if (val1 !== "") {
                    if ($.inArray(val1, cptArray4) == -1) {
                        if (val1 !== undefined) {
                            var txtLinks = "'" + "txt" + claimid + "links_" + id + "_" + parseInt(4) + "'";
                            var deleteCpt = "'" + "Div4CptRow_" + id + "_" + claimid + "'";
                            $("#DivCpt_4").append('<div id="Div4CptRow_' + id + "_" + claimid + '" class="form-group row"><label class= "col-md-3 m-t-15" style="margin-right: -115px;" ></label><div class="col-md-3 CptlessWidth input-group"><div class="input-group-prepend ControlHeight"><span class="input-group-text cpt2index AdjustSerialNumber" id="basic-addon1">' + id + '</span></div><input type = "text" placeholder = "Code" style="max-width:55px;" maxlength="5" class= "form-control CoderDetails Cptclaim_' + claimid + '" id = "txt4Cpt_' + id + '" /><input type="text" style="max-width:50px;" class="form-control CoderDetails Cptclaim_' + claimid + '" placeholder="Mod" id="txt4mod_' + id + '"/><input type="text" style="max-width:30px;" class="form-control CoderDetails cptQtyClaim Cptclaim_' + claimid + '" placeholder="Qty" value="1" id="txt4qty_' + id + '"/><input type="text" class="form-control CoderDetails cptLinksClaim Cptclaim_' + claimid + '" placeholder="Link All" onfocusout="CptClaims(' + txtLinks + ')" id="txt4links_' + id + '"/><button type="button" class="btn btn-sm" style="max-width:18px;padding-left:5px;margin-left:-5px;" onclick="DeleteCptClaims(' + deleteCpt + ')"><i class="fa fa-times"></i></button></div></div>');
                            $("#txt4links_" + id1).removeAttr("onfocusout", "");
                            $("#txt4links_1").removeAttr("onfocusout", "");
                            $("#txt4Cpt_" + id).focus();
                            EnableButton();
                            EnableButtonForClaim2();
                            EnableButtonForClaim3();
                        }
                    }
                }
                else {
                    $("#ProviderFeedbacks_" + id).focus();
                }
            }
        }
    }


    var tabArray = [];
    tabArray.push("1");
    $(".tab").click(function () {
        var title = $(this).attr('alt');
        var id = $(this).attr('id');
        var nexttab = parseInt(id) + parseInt(1);
        $("#htxt" + id).text('Claim ' + id);
        $("#deleteclaim" + id).show();
        if (title != "" && id != "") {
            if (id == "1" && title == "tabDiv1") {
              $("#" + title).show();
              $("#tabDiv2").hide();
              $("#tabDiv3").hide();
                $("#tabDiv4").hide();
                $("#deleteclaim2").css("border-right", "");
                $("#deleteclaim2").css("color", "");
                $("#deleteclaim2").css("background-color", "");
                $("#deleteclaim2").css("border-color", "");
                $("#deleteclaim3").css("border-right", "");
                $("#deleteclaim3").css("color", "");
                $("#deleteclaim3").css("background-color", "");
                $("#deleteclaim3").css("border-color", "");
                $("#deleteclaim4").css("border-right", "");
                $("#deleteclaim4").css("color", "");
                $("#deleteclaim4").css("background-color", "");
                $("#deleteclaim4").css("border-color", "");
            } else {
                if ($.inArray(id, tabArray) == -1) {
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("AddNewClaim", "UAB")",
                        data: {
                            "claimID": id,
                            "pid1": $("#ProviderID").val(),
                            "pid2": $('#Providers_2').val(),
                            "pid3": $('#Providers_3').val(),
                            "pid4": $('#Providers_4').val(),
                            "ProjectTypeName":"@Model.ProjectTypename"
                        },
                        success: function (response) {
                            tabArray.push(id);
                            $("#" + title).html(response);
                            $("#Providers_" + id).focus();
                            EnableButton();
                            EnableButtonForClaim2();
                            EnableButtonForClaim3();
                        }
                    });
                };
               $("#tabDiv1").hide();
               if (title == "tabDiv1") {
                   $("#" + title).show();
                   $("#tabDiv2").hide();
                   $("#tabDiv3").hide();
                   $("#tabDiv4").hide();
                   $("#claim" + id).addClass('active show');
               }
               if (title == "tabDiv2") {
                   $("#" + title).show();
                   $(".tabDiv3").show();
                   $("#tabDiv3").hide();
                   $("#tabDiv4").hide();
                   $('#codingSubmit').prop('disabled', true);
                   $('#codingSubmitAndGetNext').prop('disabled', true);
                   $('#btnProviderPosted').prop('disabled', true);
                   $(".tabDiv2").addClass('AlignCross');
                   $("#claim" + id).addClass('active show');
                   $("#" + nexttab).show();
                   $("#htxt3").show();
                   $("#deleteclaim" + id).css("border-right", "1px solid #dee2e6");
                   $("#deleteclaim" + id).css("border-left", "none");
                   $("#deleteclaim" + id).css("width", "30px");
                   $("#deleteclaim" + id).css("padding-left", "0px");
                   $("#deleteclaim" + id).css("padding-top", "5px");
                   $("#deleteclaim" + id).css("margin-left", "-15px");
                   $("#deleteclaim" + id).css("border-bottom", "none");
                   $("#deleteclaim" + id).css("color", "#4F5467");
                   $("#deleteclaim" + id).css("background-color", "#fff");
                   $("#deleteclaim" + id).css("border-color", "#dee2e6 #dee2e6 #fff");
                   $("#" + id).css("border-right", "none");
                   $("#deleteclaim3").css("color", "");
                   $("#deleteclaim3").css("background-color", "");
                   $("#deleteclaim3").css("border-color", "");
                   $("#deleteclaim4").css("color", "");
                   $("#deleteclaim4").css("background-color", "");
                   $("#deleteclaim4").css("border-color", "");
                   $("#3").removeClass('active');
                   $("#4").removeClass('active');
                   EnableButton();
                   EnableButtonForClaim2();
                   EnableButtonForClaim3();
               }
               if (title == "tabDiv3") {
                   $("#" + title).show();
                   $("#tabDiv2").hide();
                   $("#tabDiv4").hide();
                   $(".tabDiv4").show();
                   $('#codingSubmit').prop('disabled', true);
                   $('#codingSubmitAndGetNext').prop('disabled', true);
                   $('#btnProviderPosted').prop('disabled', true);
                   $(".tabDiv3").addClass('AlignCross');
                   $("#claim" + id).addClass('active show');
                   $("#" + nexttab).show();
                   $("#htxt4").show();
                   $("#deleteclaim" + id).css("border-right", "1px solid #dee2e6");
                   $("#deleteclaim" + id).css("border-left", "none");
                   $("#deleteclaim" + id).css("width", "30px");
                   $("#deleteclaim" + id).css("padding-left", "0px");
                   $("#deleteclaim" + id).css("padding-top", "5px");
                   $("#deleteclaim" + id).css("margin-left", "-15px");
                   $("#deleteclaim" + id).css("border-bottom", "none");
                   $("#deleteclaim" + id).css("color", "#4F5467");
                   $("#deleteclaim" + id).css("background-color", "#fff");
                   $("#deleteclaim" + id).css("border-color", "#dee2e6 #dee2e6 #fff");
                   $("#" + id).css("border-right", "none");
                   $("#deleteclaim2").css("color", "");
                   $("#deleteclaim2").css("background-color", "");
                   $("#deleteclaim2").css("border-color", "");
                   $("#deleteclaim4").css("color", "");
                   $("#deleteclaim4").css("background-color", "");
                   $("#deleteclaim4").css("border-color", "");
                   $("#2").removeClass('active');
                   $("#4").removeClass('active');
                   EnableButton();
                   EnableButtonForClaim2();
                   EnableButtonForClaim3();
               }
               if (title == "tabDiv4") {
                   $("#" + title).show();
                   $("#tabDiv2").hide();
                   $("#tabDiv3").hide();
                   $(".tabDiv4").show();
                   $('#codingSubmit').prop('disabled', true);
                   $('#codingSubmitAndGetNext').prop('disabled', true);
                   $('#btnProviderPosted').prop('disabled', true);
                   $(".tabDiv4").addClass('AlignCross');
                   $("#claim" + id).addClass('active show');
                   $("#" + nexttab).show();
                   $("#deleteclaim" + id).css("border-right", "1px solid #dee2e6");
                   $("#deleteclaim" + id).css("border-left", "none");
                   $("#deleteclaim" + id).css("width", "30px");
                   $("#deleteclaim" + id).css("padding-left", "0px");
                   $("#deleteclaim" + id).css("padding-top", "5px");
                   $("#deleteclaim" + id).css("margin-left", "-15px");
                   $("#deleteclaim" + id).css("border-bottom", "none");
                   $("#deleteclaim" + id).css("color", "#4F5467");
                   $("#deleteclaim" + id).css("background-color", "#fff");
                   $("#deleteclaim" + id).css("border-color", "#dee2e6 #dee2e6 #fff");
                   $("#" + id).css("border-right", "none");
                   $("#deleteclaim2").css("color", "");
                   $("#deleteclaim2").css("background-color", "");
                   $("#deleteclaim2").css("border-color", "");
                   $("#deleteclaim3").css("color", "");
                   $("#deleteclaim3").css("background-color", "");
                   $("#deleteclaim3").css("border-color", "");
                   $("#2").removeClass('active');
                   $("#3").removeClass('active');
                   EnableButton();
                   EnableButtonForClaim2();
                   EnableButtonForClaim3();
               }
            }
        }
    });

    Deletetabclaim = function (id) {
        var tabid = parseInt(id.split('_')[1]);
        tabArray.splice($.inArray(tabid, tabArray), 1);
        $("#htxt" + tabid).text('+');
        $("#tabDiv" + tabid).html('');
        $("#deleteclaim" + tabid).hide();
        $("#1").removeClass('active show');
        $("#2").removeClass('active show');
        $("#3").removeClass('active show');
        $("#4").removeClass('active show');
        $(".tabDiv" + tabid).removeClass('AlignCross');
        if (tabid == 2) {
            if ($("#htxt3").text() != "+") {
                $("#3").addClass('active show');
                $("#claim3").show();
                $("#tabDiv3").show();
                $("#htxt3").show();
                $("#deleteclaim3").addClass('active');
                EnableButton();
                EnableButtonForClaim2();
                EnableButtonForClaim3();
            }
            if ($("#htxt4").text() != "+") {
                $("#4").addClass('active show');
                $("#claim4").show();
                $("#tabDiv4").show();
                $("#htxt4").show();
                $("#deleteclaim4").addClass('active');
                EnableButton();
                EnableButtonForClaim2();
                EnableButtonForClaim3();
            }
        }
        if (tabid == 3) {
            $("#2").addClass('active show');
            $("#claim2").show();
            $("#tabDiv2").show();
            $("#htxt2").show();
            $("#htxt4").hide();
            $("#deleteclaim2").addClass('active');
            EnableButton();
            EnableButtonForClaim2();
            EnableButtonForClaim3();
        }
        if (tabid == 4) {
            $("#3").addClass('active show');
            $("#claim3").show();
            $("#tabDiv3").show();
            $("#htxt3").show();
            $("#deleteclaim3").addClass('active');
            EnableButton();
            EnableButtonForClaim2();
            EnableButtonForClaim3();
        }
        if ($("#htxt2").text() == "+" && $("#htxt3").text() == "+" && $("#htxt4").text() == "+") {
            $("#1").addClass('active show');
            $("#claim1").show();
            $("#tabDiv1").show();
            $("#htxt2").show();
            $("#htxt3").hide();
            $("#htxt4").hide();
            EnableButton();
            EnableButtonForClaim2();
            EnableButtonForClaim3();
        }
    };

    DeleteDxCodes = function (id) {
        var iCnt = 0;
        var Cnt = 0;
        var index = id.split('_')[1];
        var val = $("#" + index).val();
        dxArray.splice($.inArray(val, dxArray), 1);
        $("#hdnDxCodes").val(dxArray);
        $('#' + id).remove();
        $(".dxindex").each(function () {
            if (iCnt <= 100) {
                iCnt = iCnt + 1;
                $(this).text(iCnt);
            }
        });

        $(".txtDx").each(function () {
            if (Cnt <= 100) {
                Cnt = Cnt + 1;
                $(this).attr('id', 'txtDx_' + Cnt);
            }
        });
        var lastindex = $(".txtDx").last().attr('id');
        $("#" + lastindex).attr("onfocusout", "DxFunction('" + "txt_" + Cnt + "')");
    };

    DeleteCptCodes = function (id) {
        var iCnt = 0;
        var Cnt = 0;
        var index = id.split('_')[1];
        var val = $("#" + index).val();
        cptArray.splice($.inArray(val, cptArray), 1);
        //$("#hdnCptCodes").val(cptArray);
        $('#' + id).remove();
        $(".cptindex").each(function () {
            if (iCnt <= 100) {
                iCnt = iCnt + 1;
                $(this).text(iCnt);
            }
        });

        $(".txtLinks").each(function () {
            if (Cnt <= 100) {
                Cnt = Cnt + 1;
                $(this).attr('id', 'txtLinks_' + Cnt);
            }
        });
        var lastindex = $(".txtLinks").last().attr('id');
        $("#" + lastindex).attr("onfocusout", "CptFunction('" + "txtLinks_" + Cnt + "')");
    };

    DeleteDxClaims = function (id) {
        var iCnt = 0;
        var Cnt = 0;
        var index = id.split('_')[1];
        var claimId = id.split('_')[2];
        var val = $("#txtDx" + claimId+"Claim_" + index).val();
        dxArray2.splice($.inArray(val, dxArray2), 1);
        //$("#hdnDxCodes1").val(dxArray2);
        dxArray3.splice($.inArray(val, dxArray3), 1);
        //$("#hdndxcodes2").val(dxArray3);
        dxArray4.splice($.inArray(val, dxArray4), 1);
        //$("#hdndxcodes3").val(dxArray4);
        $('#' + id).remove();
        $(".dx" + claimId+"index").each(function () {
            if (iCnt <= 100) {
                iCnt = iCnt + 1;
                $(this).text(iCnt);
            }
        });

        $(".txt" + claimId+"Dx").each(function () {
            if (Cnt <= 100) {
                Cnt = Cnt + 1;
                $(this).attr('id', 'txtDx' + claimId+'Claim_' + Cnt);
            }
        });
        var lastindex = $(".txt" + claimId +"Dx").last().attr('id');
        $("#" + lastindex).attr("onfocusout", "DxClaims('" + "txt" + claimId + "Dx_1_" + claimId + "')");
    };

    DeleteCptClaims = function (id) {
        var iCnt = 0;
        var Cnt = 0;
        var index = id.split('_')[1];
        var claimId = id.split('_')[2];
        var cpt = $("#txt" + claimId + "Cpt_" + index).val();
        var mod = $("#txt" + claimId + "mod_" + index).val();
        var qty = $("#txt" + claimId + "qty_" + index).val();
        var links = $("#txt" + claimId + "links_" + index).val();
        var val = cpt + "^" + mod + "^" + qty + "^" + links;
        cptArray2.splice($.inArray(val, cptArray2), 1);
        //$("#hdnCptCodes1").val(cptArray2);
        cptArray3.splice($.inArray(val, cptArray3), 1);
        //$("#hdnCptCodes2").val(cptArray3);
        cptArray4.splice($.inArray(val, cptArray4), 1);
        //$("#hdnCptCodes3").val(cptArray4);
        $('#' + id).remove();
        $(".cpt" + claimId + "index").each(function () {
            if (iCnt <= 100) {
                iCnt = iCnt + 1;
                $(this).text(iCnt);
            }
        });

        $(".txt" + claimId + "Link").each(function () {
            if (Cnt <= 100) {
                Cnt = Cnt + 1;
                $(this).attr('id', 'txt' + claimId + 'links_' + Cnt);
            }
        });
        var lastindex = $(".txt" + claimId + "Link").last().attr('id');
        $("#" + lastindex).attr("onfocusout", "CptClaims('" + "txt" + claimId + "links_1_" + claimId + "')");

    };

    $(document).on('change', '#Providers_2', function () {
        EnableButtonForClaim2();
    });
    $(document).on('change', '#BillingProviders_2', function () {
        EnableButtonForClaim2();
    });
    $(document).on('change', '#Payors_2', function () {
            EnableButtonForClaim2();
    });
    $(document).on('change', '#txtDx2Claim_1', function () {
            EnableButtonForClaim2();
    });
    $(document).on('change', '#txt2Cpt_1', function () {
            EnableButtonForClaim2();
    });
    $('#ProviderFeedbacks_2').change(function () {
        alert('test');
        EnableButtonForClaim2();
    });

        EnableButtonForClaim2 = function () {
            if ($('#PayorID').val() !== "" && $('#ProviderID').val() !== "" && $('#BillingProviderID').val() !== "" && $('#ProviderFeedbackId option:selected').val() !== undefined && $('#txtDx_1').val() !== "" && $('#txtCpt_1').val() !== ""
                && $('#Providers_2').val() !== "" && $('#BillingProviders_2').val() !== "" && $('#Payors_2').val() !== "" && $('#txtDx2Claim_1').val() !== "" && $('#txt2Cpt_1').val() !== ""
                && $('#Providers_3').val() === undefined && $('#BillingProviders_3').val() === undefined && $('#Providers_4').val() === undefined && $('#BillingProviders_4').val() === undefined && $('#ProviderFeedbacks_2 option:selected').val() !== undefined && $('#ProviderFeedbacks_3 option:selected').val() === undefined && $('#ProviderFeedbacks_4 option:selected').val() === undefined) {
                $('#codingSubmit').prop('disabled', false);
                $('#codingSubmitAndGetNext').prop('disabled', false);
                $('#btnProviderPosted').prop('disabled', false);
            }
            else {
                $('#codingSubmit').prop('disabled', true);
                $('#codingSubmitAndGetNext').prop('disabled', true);
                $('#btnProviderPosted').prop('disabled', true);
            }
    }

    $(document).on('change', '#Providers_3', function () {
        EnableButtonForClaim3();
    });
    $(document).on('change', '#BillingProviders_3', function () {
        EnableButtonForClaim3();
    });
    $(document).on('change', '#Payors_3', function () {
        EnableButtonForClaim3();
    });
    $(document).on('change', '.Dxclaim_3', function () {
        EnableButtonForClaim3();
    });
    $(document).on('change', '#txt3Cpt_1', function () {
        EnableButtonForClaim3();
    });
    $(document).on('change', '#ProviderFeedbacks_3', function () {
        EnableButtonForClaim3();
    });

    EnableButtonForClaim3 = function () {
        if ($('#PayorID').val() !== "" && $('#txtDx_1').val() !== "" && $('#txtCpt_1').val() !== "" && $('#ProviderFeedbackId').val() != "" && $('#ProviderFeedbackId option:selected').val() !== undefined
            && $('#Providers_2').val() !== "" && $('#BillingProviders_2').val() !== "" && $('#Payors_2').val() !== "" && $('#txtDx2Claim_1').val() !== "" && $('#txt2Cpt_1').val() !== ""
            && $('#Providers_3').val() !== "" && $('#BillingProviders_3').val() !== "" && $('#Payors_3').val() !== "" && $('.Dxclaim_3').val() !== "" && $('#txt3Cpt_1').val() !== ""
            && $('#Providers_4').val() === undefined && $('#BillingProviders_4').val() === undefined) {
            $('#codingSubmit').prop('disabled', false);
            $('#codingSubmitAndGetNext').prop('disabled', false);
            $('#btnProviderPosted').prop('disabled', false);
        }
        else {
            $('#codingSubmit').prop('disabled', true);
            $('#codingSubmitAndGetNext').prop('disabled', true);
            $('#btnProviderPosted').prop('disabled', true);
        }
    }

    $(document).on('change', '#Providers_4', function () {
        EnableButtonForClaim3();
    });
    $(document).on('change', '#BillingProviders_4', function () {
        EnableButtonForClaim3();
    });
    $(document).on('change', '#Payors_4', function () {
        EnableButtonForClaim3();
    });
    $(document).on('change', '.Dxclaim_4', function () {
        EnableButtonForClaim3();
    });
    $(document).on('change', '#txt4Cpt_1', function () {
        EnableButtonForClaim3();
    });
    $(document).on('change', '#ProviderFeedbacks_4', function () {
        EnableButtonForClaim3();
    });

    EnableButtonForClaim3 = function () {
        if ($('#PayorID').val() !== "" && $('#ProviderID').val() !== "" && $('#BillingProviderID').val() !== "" && $('#ProviderFeedbackId').val() != "" && $('#ProviderFeedbackId option:selected').val() !== undefined && $('#txtDx_1').val() !== "" && $('#txtCpt_1').val() !== ""
            && $('#Providers_2').val() !== "" && $('#BillingProviders_2').val() !== "" && $('#Payors_2').val() !== "" && $('#txtDx2Claim_1').val() !== "" && $('#txt2Cpt_1').val() !== ""
            && $('#Providers_3').val() !== "" && $('#BillingProviders_3').val() !== "" && $('#Payors_3').val() !== "" && $('.Dxclaim_3').val() !== "" && $('#txt3Cpt_1').val() !== ""
            && $('#Providers_4').val() !== "" && $('#BillingProviders_4').val() !== "" && $('#Payors_4').val() !== "" && $('.Dxclaim_4').val() !== "" && $('#txt4Cpt_1').val() !== "") {
            $('#codingSubmit').prop('disabled', false);
            $('#codingSubmitAndGetNext').prop('disabled', false);
            $('#btnProviderPosted').prop('disabled', false);
        }
        else {
            $('#codingSubmit').prop('disabled', true);
            $('#codingSubmitAndGetNext').prop('disabled', true);
            $('#btnProviderPosted').prop('disabled', true);
        }
    }

    $(document).on('keyup keypress change', '.cptQtyClaim,.cptLinksClaim', function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });
</script>
