@using UAB.enums
@model List<UAB.DTO.DashboardDTO>
@{
    ViewData["Title"] = "QA Summary";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Projects</h4>
                    @await Html.PartialAsync("_Msg")
                </div>
                <table class="table table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th scope="col">
                                <b>Name</b>
                            </th>
                            <th scope="col" style="text-align:center">
                                <b>Available Charts</b>
                            </th>
                            <th scope="col" style="text-align:center">
                                <b>Rebuttal  Charts</b>
                            </th>
                        </tr>
                    </thead>
                    <tbody style="cursor:pointer;">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td scope="col">
                                    @item.ProjectName
                                </td>
                                <td scope="col" style="text-align:center">
                                    @if (item.AvailableCharts == 0)
                                    {
                                        @item.AvailableCharts
                                        <b>&nbsp;&nbsp; &nbsp; &nbsp;</b>
                                        <a href="@Url.Action("QA", "UAB")" style="pointer-events: none;" class="btn btn-info btn-sm">Get Next</a>
                                    }
                                    else
                                    {
                                        @item.AvailableCharts
                                        <b>&nbsp; &nbsp; &nbsp; &nbsp;</b>
                                        <a href="@Url.Action("QA", "UAB",new { StatusIDs = Convert.ToString((int)StatusType.CodingCompleted),ProjectID = item.ProjectID})" class="btn btn-info btn-sm">Get Next</a>
                                    }
                                </td>
                                <td scope="col" style="text-align:center">
                                    @{
                                        List<int> lstStatus = new List<int> { (int)StatusType.CoderRejected, (int)StatusType.ShadowQARejected };
                                    }
                                    @if (item.RebuttalCharts == 0)
                                    {
                                        @item.RebuttalCharts
                                        <b>&nbsp;&nbsp; &nbsp; &nbsp;</b>
                                        <a href="@Url.Action("RebuttalCharts", "UAB")" style="pointer-events: none;" class="btn btn-info btn-sm">Get Next</a>
                                    }
                                    else
                                    {
                                        @item.RebuttalCharts
                                        <b>&nbsp; &nbsp; &nbsp; &nbsp;</b>
                                        <a href="@Url.Action("RebuttalCharts", "UAB",new { StatusIDs = string.Join(",", lstStatus),ProjectID = item.ProjectID})" class="btn btn-info btn-sm">Get Next</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

