@using UAB.enums
@model List<UAB.DTO.DashboardDTO>
@{
    ViewData["Title"] = "QA Summary";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Projects</h4>
                    @await Html.PartialAsync("_Msg")
                </div>
                <table class="table table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th scope="col" class="tblHeaderRow">
                                Name
                            </th>
                            <th scope="col" class="tblHeaderRow">
                                Available Charts
                            </th>
                            <th scope="col" class="tblHeaderRow">
                                Coder Rebuttal  Charts
                            </th>
                            <th scope="col" class="tblHeaderRow">
                                Shadow QA Rejected Charts
                            </th>
                        </tr>
                    </thead>
                    <tbody style="cursor:pointer;">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td scope="col">
                                    <b> @item.ProjectName</b>
                                </td>
                                <td scope="col" style="text-align:center">
                                    @if (item.AvailableCharts == 0)
                                    {
                                        @item.AvailableCharts
                                        <b>&nbsp;&nbsp; &nbsp; &nbsp;</b>
                                        <a href="@Url.Action("QA", "UAB")" style="pointer-events: none;" class="btn btn-info btn-sm">Get Next</a>
                                    }
                                    else
                                    {
                                        @item.AvailableCharts
                                        <b>&nbsp; &nbsp; &nbsp; &nbsp;</b>
                                        <a href="@Url.Action("QA", "UAB",new { Role=Role.QA,ChartType="Available",ProjectID = item.ProjectID})" class="btn btn-info btn-sm">Get Next</a>
                                    }
                                </td>
                                <td scope="col" style="text-align:center">
                                    @if (item.CoderRebuttalCharts == 0)
                                    {
                                        @item.CoderRebuttalCharts
                                        <b>&nbsp;&nbsp; &nbsp; &nbsp;</b>
                                        <a href="@Url.Action("GetQARebuttalChartsOfCoder", "UAB")" style="pointer-events: none;" class="btn btn-info btn-sm">Get Next</a>
                                    }
                                    else
                                    {
                                        @item.CoderRebuttalCharts
                                        <b>&nbsp; &nbsp; &nbsp; &nbsp;</b>
                                        <a href="@Url.Action("GetQARebuttalChartsOfCoder", "UAB",new { Role=Role.QA,ChartType="RebuttalOfCoder",ProjectID = item.ProjectID})" class="btn btn-info btn-sm">Get Next</a>
                                    }
                                </td>
                                <td scope="col" style="text-align:center">
                                    @if (item.ShadowQARebuttalCharts == 0)
                                    {
                                        @item.ShadowQARebuttalCharts
                                        <b>&nbsp;&nbsp; &nbsp; &nbsp;</b>
                                        <a href="@Url.Action("GetQARebuttalChartsOfShadowQA", "UAB")" style="pointer-events: none;" class="btn btn-info btn-sm">Get Next</a>
                                    }
                                    else
                                    {
                                        @item.ShadowQARebuttalCharts
                                        <b>&nbsp; &nbsp; &nbsp; &nbsp;</b>
                                        <a href="@Url.Action("GetQARebuttalChartsOfShadowQA", "UAB",new { Role=Role.QA,ChartType="ShadowQARejected",ProjectID = item.ProjectID})" class="btn btn-info btn-sm">Get Next</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#qa").addClass('selected');
       
    });
</script>


