@model UAB.DTO.SearchParametersDTO

@{
    ViewData["Title"] = "Search";
}

<style>
    .lblSearch {
        width: 100px;
        margin-left: 15px;
    }

    .txtwidth {
        width: 210px;
    }
    .table td, .table th {
        padding: 10px !important;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    .custom-control-label:after {
        background-color: white;
        border: 1px solid #000;
    }
</style>

<div class="col-md-10">
    <h5 class="card-title" style="font-size:20px;margin-left:500px;">Search</h5>
</div>
<div class="row">
    <div class="col-md-3" style="min-height:690px">
        <table style="margin-left:10px">
            <tr>
                <td>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.ClinicalCaseId, new { @class = "form-control", @autofocus = "autofocus", @id = "txtClinicalCaseId", @autocomplete = "off", @placeholder = "Enter Chart Id" })
                        @Html.ValidationMessageFor(model => model.ClinicalCaseId, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.ProjectName, new SelectList(@ViewBag.Projects, "ProjectId", "Name"), "--Select a Project--", new { @class = "form-control", @id = "projectdd" })
                        @Html.ValidationMessageFor(model => model.ProjectName, null, new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @autofocus = "autofocus", @id = "txtFirstName", @autocomplete = "off", @placeholder = "Enter First Name" })
                        @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @autofocus = "autofocus", @id = "txtLastName", @autocomplete = "off", @placeholder = "Enter Last Name" })
                        @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.ProviderName, new { @class = "form-control", @autofocus = "autofocus", @id = "txtProvidername", @autocomplete = "off", @placeholder = "Enter Provider" })
                        @Html.ValidationMessageFor(model => model.ProviderName, null, new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.MRN, new { @class = "form-control", @autofocus = "autofocus", @id = "txtMRN", @autocomplete = "off", @placeholder = "Enter MRN" })
                        @Html.ValidationMessageFor(model => model.MRN, null, new { @class = "text-danger" })

                    </div>

                    <div class="custom-control custom-checkbox mr-sm-1">
                        @Html.CheckBoxFor(model => model.IncludeBlocked, new { @class = "custom-control-input ShadowQADetails", @id = "customControlAutosizing1" })
                        <label class="custom-control-label" for="customControlAutosizing1">Show Blocked Charts</label>
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.DoSFrom, new { @class = "form-control", @type = "text", @autofocus = "autofocus", @id = "txtDoSFrom", @autocomplete = "off", @placeholder = "Enter DOS From", @onfocus = "(this.type='date')", @onblur = "(this.type='text')" })
                        @Html.ValidationMessageFor(model => model.DoSFrom, null, new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.DoSTo, new { @class = "form-control", @type = "text", @autofocus = "autofocus", @id = "txtDoSTo", @autocomplete = "off", @placeholder = "Enter DOS To", @onfocus = "(this.type='date')", @onblur = "(this.type='text')" })
                        @Html.ValidationMessageFor(model => model.DoSTo, null, new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.DropDownListFor(model => model.StatusName, new SelectList(@ViewBag.Status, "StatusId", "Name"), "--Select a Status--", new { @class = "form-control", @id = "statusdd" })
                        @Html.ValidationMessageFor(model => model.StatusName, null, new { @class = "text-danger" })

                    </div>

                </td>
            </tr>
        </table>
        <br />
        <div style="margin-left:15px;">
            <button type="submit" class="btn btn-sm btn-info btn-fill" id="btnsubmit" onclick="Search()">Search</button>
            <button type="submit" class="btn btn-sm btn-danger btn-fill" id="btnclear" onclick="clearFields()">Clear</button>
        </div>
    </div>
    <div class="col-md-9">
        <div id="error" style="color:red;max-height:20px;"></div>
        <div id="searchresultmodalContent"></div>
    </div>
</div>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="~/dashboardassets/extra-libs/DataTables/datatables.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

            clearFields = function () {
            $("#txtClinicalCaseId").val('');
            $("#txtFirstName").val('');
            $("#txtLastName").val('');
            $("#txtMRN").val('');
            $("#txtDoSFrom").val('');
            $("#txtDoSTo").val('');
            $("#statusdd").find('option:selected').text("--Select a Status--");
            $("#projectdd").find('option:selected').text("--Select a Project--");
            $("#txtProvidername").val('');
            $("#customControlAutosizing1").prop("checked", false);
                }

                Search = function () {

                    var ccid = $("#txtClinicalCaseId").val();
                    var fname = $("#txtFirstName").val();
                    var lname = $("#txtLastName").val();
                    var mrn = $("#txtMRN").val();
                    var dosfrom = $("#txtDoSFrom").val();
                    var dosto = $("#txtDoSTo").val();
                    var statusname = $("#statusdd").find('option:selected').text();
                    var projectname = $("#projectdd").find('option:selected').text();
                    var providername = $("#txtProvidername").val();
                    var includeblocked = $("#customControlAutosizing1").prop("checked");
                    if (ccid !== "" || fname !=="" || lname !=="" || mrn !=="" || dosfrom !=="" || dosto !=="" || providername !=="" ||
                        projectname !== "--Select a Project--" || statusname !== "--Select a Status--" || includeblocked!==false) {
                $("#error").hide();
                $.ajax({
                        type: "POST",
                    url: "@Url.Action("SettingsSearch", "UAB")",
                    data: {
                        "ccid": $("#txtClinicalCaseId").val(),
                        "fname": $("#txtFirstName").val(),
                        "lname": $("#txtLastName").val(),
                        "mrn": $("#txtMRN").val(),
                        "dosfrom": $("#txtDoSFrom").val(),
                        "dosto": $("#txtDoSTo").val(),
                        "statusname": $("#statusdd").find('option:selected').text(),
                        "projectname": $("#projectdd").find('option:selected').text(),
                        "providername": $("#txtProvidername").val(),
                        "includeblocked": $("#customControlAutosizing1").prop("checked")

                    },
                    success: function (response) {
                        $("#searchresultmodalContent").html(response);
                            },
                    failure: function (response) {
                                alert(response);
                            }
                        });
                    }
                    else {
                $("#error").html("Plese enter search parameters");
                $("#error").fadeOut(10000);
                    }
                }
            });
</script>
