@using UAB.enums
@model List<UAB.DTO.DashboardDTO>
@{
    ViewData["Title"] = "Shadow QA Summary";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Projects</h4>
                    @await Html.PartialAsync("_Msg")
                </div>
                <table class="table table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th scope="col" class="tblHeaderRow">
                                Name
                            </th>
                            <th scope="col" class="tblHeaderRow">
                                Available Charts
                            </th>
                            <th scope="col" class="tblHeaderRow">
                                Rebuttal Charts
                            </th>
                        </tr>
                    </thead>
                    <tbody style="cursor:pointer;">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td scope="col">
                                    <b>@item.ProjectName</b>
                                </td>
                                <td scope="col" style="text-align:center">
                                    @if (item.AvailableCharts == 0)
                                    {
                                    <label class="lblCharts">@item.AvailableCharts</label>
                                        <b>&nbsp;&nbsp; &nbsp; &nbsp;</b>
                                        <a href="@Url.Action("GetShadowQAAvailableChart", "UAB")" style="pointer-events: none;" class="btn btn-info btn-sm">Get Next</a>
                                    }
                                    else
                                    {
                                <label class="lblCharts">@item.AvailableCharts</label>
                                        <b>&nbsp; &nbsp; &nbsp; &nbsp;</b>
                                        <a href="@Url.Action("GetShadowQAAvailableChart", "UAB",new { Role=Roles.ShadowQA,ChartType="Available",ProjectID = item.ProjectID})" class="btn btn-info btn-sm">Get Next</a>
                                    }
                                </td>
                                <td scope="col" style="text-align:center">
                                    @if (item.QARebuttalCharts == 0)
                                    {
                                        
                                    <label class="lblCharts">@item.QARebuttalCharts</label>
                                        <b>&nbsp;&nbsp; &nbsp; &nbsp;</b>
                                        <a href="@Url.Action("GetShadowQARebuttalChartsOfQA", "UAB")" style="pointer-events: none;" class="btn btn-info btn-sm">Get Next</a>
                                    }
                                    else
                                    {
                                <label class="lblCharts">@item.QARebuttalCharts</label>
                                        <b>&nbsp; &nbsp; &nbsp; &nbsp;</b>
                                        <a href="@Url.Action("GetShadowQARebuttalChartsOfQA", "UAB",new { Role=Roles.ShadowQA,ChartType="RebuttalOfQA",ProjectID = item.ProjectID})" class="btn btn-info btn-sm">Get Next</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#shadowQA").addClass('selected');

    });
</script>
