@model UAB.DAL.LoginDTO.ApplicationUser
@using UAB.DAL.LoginDTO

<style>
    .modal-content {
        margin-top: 63px;
    }

    .errorTxt {
        color: red;
        min-height: 20px;
    }

    .tableresponsiveforroles {
        max-height: 200px;
    }

    .roledddwith {
        width: 200px;
    }
</style>


<form asp-action="AddProjectUser" asp-controller="Account" method="POST">
    @*tosend the newly added projectrolesample values to server side*@
    <input type="hidden" name="ProjectAndRole" id="hdnProjectAndRole" />
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.hdnProjectAndRole, new { @id = "hdnProjectAndRoleid" })
    <div class="modal fade modal-mini modal-primary show" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background: #27a9e3;color: white;">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Project User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ModalClose1()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group" style="font-size: 15px">
                            <label style="width:90px;"><bold>Email</bold></label>
                            <span>@Model.Email</span>
                        </div>
                        <div class="form-group" style="font-size: 15px">
                            <label style="width:90px;"><bold>Project</bold></label>
                            <span>
                                @Html.DropDownListFor(model => model.ProjectId, new SelectList(@ViewBag.Projects, "ProjectId", "Name"), "--Select a Project--", new { @id = "projectdd" })
                            </span>
                            @Html.ValidationMessageFor(model => model.ProjectId, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group" style="font-size: 15px">
                            <label style="width:90px;"><bold>Role</bold></label>
                            <span>
                                @Html.DropDownListFor(model => model.RoleId, new SelectList(@ViewBag.Roles, "RoleId", "Name"), "--Select a Role--", new { @id = "roledd" })
                            </span>
                            @Html.ValidationMessageFor(model => model.RoleId, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group" style="font-size: 15px" id="samplingdiv">
                            <label style="width:90px;"><bold>Sampling %</bold></label>
                            <span>
                                @Html.TextBoxFor(model => model.SamplePercentage, new { @type = "number", @class = "", style = "width:136px", @autofocus = "autofocus", @autocomplete = "off", @id = "samplepercentage", @placeholder = "Enter Sampling" })
                            </span>
                            <label id="sampleerror" style="color:red"></label>
                            @Html.ValidationMessageFor(model => model.SamplePercentage, null, new { @class = "text-danger" })
                        </div>
                        <div id="addbtnerror" style="color:red"></div>
                        <br />
                        <div class="col-md-10">
                            <button type="button" class="btn btn-sm btn-info btn-fill" id="AddRoleandProject">Add</button>
                        </div>
                        <br />
                        <div class="form-group row" id="tbleProjectwithRoles" style="display:none;">
                            <div class="table-responsive tableresponsiveforroles col-md-13">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 250px; font-weight:900;">Project</th>
                                            <th style="width: 250px; font-weight:900;">Role</th>
                                            <th style="width: 250px; font-weight:900;">Sampling %</th>
                                            <th style="width: 250px; font-weight:900;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableid">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-info btn-fill" id="btnsubmit">Save</button>
                    <button type="button" class="btn btn-sm btn-danger btn-fill" id="btnClose">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        
        $('#btnsubmit').attr('disabled', true);
        $('#AddRoleandProject').attr('disabled', true);

        $('#projectdd,#roledd,#samplepercentage').on('keyup keypress change', function () {
            var Project = $("#projectdd option:selected").text();
            var Role = $("#roledd option:selected").text();
            var SamplePercentage = $("#samplepercentage").val();
            if (Project != "--Select a Project--" && Role != "--Select a Role--" && (SamplePercentage != '' || SamplePercentage === 0)) 
                $('#AddRoleandProject').attr('disabled', false);
        });

        $('#samplepercentage').on('keyup keypress change', function (e) {
            this.value = this.value.replace(/[^0-9\.]/g, '');
            if ($('#samplepercentage').val() != '') {
                $('#sampleerror').hide();
            } else {
                $('#sampleerror').show();
            }
        });
        $('#btnClose').click(function () {
            location.reload();
            $("#modalContent").html('');
        });
        $("#roledd").change(function () {
            if ($("#roledd option:selected").text() == 'ShadowQA' || $("#roledd option:selected").text() == 'Manager' || $("#roledd option:selected").text() == 'Supervisor') {
                $("#samplepercentage").val(0);
                $("#samplingdiv").hide();
            } else {
                $("#samplingdiv").show();
                $('#samplepercentage').val('');
            }
        });
        var existingrolesandprojects = $("#hdnProjectAndRoleid").val().split(',');

        var ProjectAndRole = [];
        var iCnt = 0;
        $(document).on('click', '#AddRoleandProject', function () {
            $("#ErrorMessage").text('');
            if (iCnt <= 100) {
                iCnt = iCnt + 1;
                var Project = $("#projectdd option:selected").text();
                var Role = $("#roledd option:selected").text();
                var SamplePercentage = $("#samplepercentage").val();
                if (Project !== "--Select a Project--" && Role !== "--Select a Role--" && SamplePercentage !== "") {
                    var newprojectandrole = Project + "^" + Role;
                    if ($.inArray(newprojectandrole, existingrolesandprojects) == -1) {
                       var ProjectAndRolevalue = Project + "^" + Role + "^" + SamplePercentage;
                       // if ($.inArray(ProjectAndRolevalue, ProjectAndRole) == -1) {
                            $("#tableid").append('<tr id="tr' + iCnt + '"><td id="txtproject' + iCnt + '">' + Project + '</td><td id="txtrole' + iCnt + '">' + Role + '</td><td id="txtsample' + iCnt + '">' + SamplePercentage + '</td><td><button type="button" id="btndelete" title="btn_' + iCnt + '"  style="cursor: pointer" class="btn btn-sm btn-danger btn-fill"><i class="fa fa-times"></i>Delete</button></td></td></tr >');
                            ProjectAndRole.push(ProjectAndRolevalue);
                            $("#hdnProjectAndRole").val(ProjectAndRole);
                        existingrolesandprojects.push(newprojectandrole);
                            $("#tbleProjectwithRoles").show();
                        $('#btnsubmit').attr('disabled', false);

                       //}
                        $("#addbtnerror").html('');
                    }
                    else {
                        $("#addbtnerror").html("This user already have this role in this project");
                    }
                }
                else {
                    if (Project === "--Select a Project--")
                        $("#validproject").html('<span id="projectdd-error" class="">Project is required.</span>');
                    else
                        $("#validproject").html('');

                    if (Role === "--Select a Role--")
                        $("#validrole").html('<span id="roledd-error" class="">Role is required.</span>');
                    else
                        $("#validrole").html('');
                    if (SamplePercentage === "") {
                        $("#sampleerror").html("SamplePercentage is required.");
                    }
                    else
                        $("#sampleerror").html('');
                }
            }
        });

        $(document).on('click', '#btndelete', function () {
            var id = $(this).attr('title').split("btn_")[1];
            var Project = $("#txtproject" + id).text();
            var Role = $("#txtrole" + id).text();
            var Sample = $("#txtsample" + id).text();
            var ProjectAndRolevalue = Project + "^" + Role + "^" + Sample;
            ProjectAndRole.splice($.inArray(ProjectAndRolevalue, ProjectAndRole), 1);

            var deleteProjectAndRolevalue = Project + "^" + Role;
            existingrolesandprojects.indexOf(deleteProjectAndRolevalue) !== -1 && existingrolesandprojects.splice(existingrolesandprojects.indexOf(deleteProjectAndRolevalue), 1)

            $("#hdnProjectAndRole").val(ProjectAndRole);
            $('#tr' + id).remove();
            var rowcount = $('#tbleProjectwithRoles').val().length;
            if (rowcount < 1) {
                $('#btnsubmit').attr('disabled', true);
            }
        });

        $('#btnsubmit').click(function (e) {
            var Email = $("#emaildd option:selected").text();
            var Project = $("#projectdd option:selected").text();
            var Role = $("#roledd option:selected").text();
            var SamplePercentage = $("#samplepercentage").val();
            if (Email === "--Select a Email--" && Project === "--Select a Project--" && Role === "--Select a Role--") {
                $("#AddUserForm").valid();
                e.preventDefault();
            }
            if ($("#hdnProjectAndRole").val() === "") {
                if (Project === "--Select a Project--")
                    $("#validproject").html('<span id="projectdd-error" class="">Project is required.</span>');
                else
                    $("#validproject").html('');

                if (Role === "--Select a Role--")
                    $("#validrole").html('<span id="roledd-error" class="">Role is required.</span>');
                else
                    $("#validrole").html('');
                if (SamplePercentage === "")
                    $("#sampleerror").html("SamplePercentage is required :");
                else
                    $("#sampleerror").html('');
                if (Email !== "--Select a Email--" && Project !== "--Select a Project--" && Role !== "--Select a Role--") {
                    $("#ErrorMessage").text('Please click on the add button, before save');
                }
                e.preventDefault();
            }
        });

        $("#projectdd").change(function () {
            var projectdd = $("#projectdd option:selected").text();
            if (projectdd !== "--Select a Project--")
                $("#validproject").html('');

        });

        $("#roledd").change(function () {
            var roledd = $("#roledd option:selected").text();
            if (roledd !== "--Select a Role--")
                $("#validrole").html('');
        });
    });
</script>


