@model UAB.DAL.LoginDTO.ApplicationUser

<form asp-action="UpdateProjectUser" asp-controller="Account" method="POST">
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.ProjectUserId)
    <div class="modal fade modal-mini modal-primary show" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 500px;">
                <div class="modal-header">
                    <h4 class="modal-title">Update Project User </h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" action="">
                        <div class="form-group" style="font-size: 15px">
                            <label style="width:80px;"><bold>Email :</bold></label>
                            <span>@Model.Email</span>
                        </div>
                        <br />
                        <div class="form-group" style="font-size: 15px">
                            <label style="width:80px;"><bold>Project :</bold></label>
                            <span>@Model.ProjectName</span>
                        </div>
                        <br />
                        <div class="form-group" style="font-size: 15px">
                            <label style="width:80px;"><bold>Role :</bold></label>
                            <span>
                                @Html.DropDownListFor(model => model.RoleId, new SelectList(@ViewBag.Roles, "RoleId", "Name"), "--Select a Role--", new { @id = "roledd" })
                            </span>
                            @Html.ValidationMessageFor(model => model.RoleId, null, new { @class = "text-danger" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="form-group" style="font-size: 15px">
                            <label style="width:80px;"><bold>Sample % :</bold></label>
                            <span>
                                @Html.TextBoxFor(model => model.SamplePercentage, new { @class = "", style = "width:136px", @autofocus = "autofocus", @autocomplete = "off", @id = "samplepercentage", @placeholder = "Enter Sample Percentage" })
                            </span>
                            @Html.ValidationMessageFor(model => model.SamplePercentage, null, new { @class = "text-danger" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-info btn-fill">Update</button>
                    <button type="button" class="btn btn-sm btn-danger btn-fill" onclick="ModalClose1()">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>



