@model UAB.DAL.LoginDTO.ApplicationUser

<form asp-action="UpdateProjectUser" asp-controller="Account" method="POST" id="updateprojectuserform">
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.ProjectUserId)
    <div class="modal fade modal-mini modal-primary show" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 500px;">
                <div class="modal-header" style="background: #27a9e3;color: white;">
                    <h5 class="modal-title" id="exampleModalLongTitle">Update Project User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ModalClose1()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" action="">
                        <div class="form-group" style="font-size: 15px">
                            <label style="width:90px;"><bold>Email :</bold></label>
                            <span>@Model.Email</span>
                        </div>
                        <br />
                        <div class="form-group" style="font-size: 15px">
                            <label style="width:90px;"><bold>Project :</bold></label>
                            <span>@Model.ProjectName</span>
                        </div>
                        <br />
                        <div class="form-group" style="font-size: 15px">
                            <label style="width:90px;"><bold>Role :</bold></label>
                            <span>
                                @Html.DropDownListFor(model => model.RoleId, new SelectList(@ViewBag.Roles, "RoleId", "Name"), "--Select a Role--", new { @id = "roledd" })
                            </span>
                            @Html.ValidationMessageFor(model => model.RoleId, null, new { @class = "text-danger" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="form-group" style="font-size: 15px" id="samplingdiv">
                            <label style="width:90px;"><bold>Sampling % :</bold></label>
                            <span>
                                @Html.TextBoxFor(model => model.SamplePercentage, new { @class = "", style = "width:136px", @autofocus = "autofocus", @autocomplete = "off", @id = "samplepercentage", @placeholder = "Enter Sampling %" })
                            </span>
                            @Html.ValidationMessageFor(model => model.SamplePercentage, null, new { @class = "text-danger" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <br />
                <div id="error" style="color:red;max-height:20px;margin-left:80px"></div>
                <br />
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-info btn-fill" id="btnupdate">Update</button>
                    <button type="button" class="btn btn-sm btn-danger btn-fill" onclick="ModalClose1()">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

        if ($("#roledd option:selected").text() == 'ShadowQA' || $("#roledd option:selected").text() == 'Manager') {
            $("#samplingdiv").hide();
        } else {
            $("#samplingdiv").show();
            $('#samplepercentage').val('');
        }

        var intialrole = $("#roledd").find('option:selected').val();
        var intialsampleper = $("#samplepercentage").val();
        $("#roledd").change(function () {
            if ($("#roledd option:selected").text() == 'ShadowQA' || $("#roledd option:selected").text() == 'Manager') {
                $('#samplepercentage').val(0);
                $("#samplingdiv").hide();
            } else {
                $("#samplingdiv").show();
                $('#samplepercentage').val('');
            }

        });
        $('#btnupdate').click(function (e) {
            var finalrole = $("#roledd").find('option:selected').val();
            var finalsampleper = $("#samplepercentage").val();
            if (finalrole === intialrole && finalsampleper === intialsampleper) {
                $("#updateprojectuserform").valid();
                e.preventDefault();
                $("#error").html("No Change in User Role And Sample Percentage");
                $("#error").fadeOut(10000);
            }
        });
    });
</script>


