@using System.Data
@model DataSet
@{
    ViewData["Title"] = "Chart Summary Report";
}

<style>
    .table td, .table th {
        padding: 10px !important;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    th.sorting_asc {
        width: 160px !important;
    }

    .pagination {
        margin-left: 200px;
    }

    .alert {
        padding: 0.5rem 1.25rem;
    }
    .linkToButton {
        background-color: #2255a4;
        height: 32px;
        line-height: 2;
        max-width: 62px;
        padding-left: 10px;
        color: white;
        cursor: pointer;
    }
    .linkToButton1 {
        background-color: #2255a4;
        height: 32px;
        line-height: 2;
        max-width: 165px;
        color: white;
        cursor: pointer;
    }

    .whiteLink {
        color: white !important
    }

        .whiteLink:hover {
            color: white !important
        }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="col-12 row">
                        <div class="col-9">
                            <h5 class="card">Chart Summary Report</h5>
                        </div>
                        <div class="col-1">
                            <div class="linkToButton">
                                @Html.ActionLink("Export", "ExportChartSummaryReport", "Home", new { projectId = @ViewBag.ProjectId, StartDate = @ViewBag.StartDate, EndDate = @ViewBag.EndDate, dateType= @ViewBag.DateType }, new { @class = "whiteLink" })
                            </div>
                        </div>
                        <div class="col-2 linkToButton1">
                            @Html.ActionLink("Export Detailed Report", "ExportDetailedChartSummaryReport", "Home", new { projectId = @ViewBag.ProjectId, StartDate = @ViewBag.StartDate, EndDate = @ViewBag.EndDate, dateType = @ViewBag.DateType }, new { @class = "whiteLink" })
                        </div>
                        <input id="projectId" type="hidden" value="@ViewBag.ProjectId" />
                        <input id="rangeId" type="hidden" value="@ViewBag.range" />
                        <input id="startDate" type="hidden" value="@ViewBag.StartDate" />
                        <input id="endDate" type="hidden" value="@ViewBag.EndDate" />
                        <input id="dateType" type="hidden" value="@ViewBag.DateType" />
                    </div>


                    @*<h5 class="card">Chart Summary Report</h5>*@
                    <div id="modalContent1"></div>
                    @*<input type="hidden" id="projectid" value="@ViewBag["ProjectId"]" />*@
                    <div class="table-responsive col-16">
                        <table id="Reports" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    @foreach (DataColumn clmn in Model.Tables[0].Columns)
                                    {
                                        <th style="width: 250px; font-weight:900;">@clmn.ColumnName</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>

                                @for (int i = 0; i < Model.Tables[0].Rows.Count; i++)
                                {
                                    <tr class="body">
                                        @for (int j = 0; j < Model.Tables[0].Columns.Count; j++)
                                        {
                                            @if (@Model.Tables[0].Columns[j].ColumnName != "ProjectName" && @Model.Tables[0].Columns[j].ColumnName != "DateOfService" && @Model.Tables[0].Columns[j].ColumnName != "CreatedDate")
                                            {
                                                @if (@Model.Tables[0].Rows[i][j].ToString() != "0")
                                                {
                                                    <td onclick="ClickOnCell('@Model.Tables[0].Columns[j].ColumnName','@Model.Tables[0].Rows[i][1]','@Model.Tables[0].Rows[i][j]')" style="cursor:pointer;text-decoration:underline;color:cornflowerblue;">@Model.Tables[0].Rows[i][j]</td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @Model.Tables[0].Rows[i][j]
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td>
                                                    @Model.Tables[0].Rows[i][j]
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/extra-libs/DataTables/datatables.js"></script>
<script type="text/javascript">
    $('#Reports').DataTable();

    $('#Reports').dataTable({
        "oLanguage": {
            "sLengthMenu": "Show Entries _MENU_ "
        },
        "bDestroy": true
    });

    var reportsArray = [];
    var reportscolor = ['', 'odd', 'even', 'odd', 'even'];
    var backgroundcolor = ['', "rgba(0, 0, 0, 0.05)", "rgba(0, 0, 0, 0)", "rgba(0, 0, 0, 0.05)", "rgba(0, 0, 0, 0)"];
    $(".body").each(function () {
        var id = $(this).attr("data");
        if ($.inArray(id, reportsArray) == -1) {
            reportsArray.push(id);
            $(this).addClass(reportscolor[id]);
            $(this).css("background-color", backgroundcolor[id]);
        } else {
            $(this).addClass(reportscolor[id]);
            $(this).css("background-color", backgroundcolor[id]);
        }
    });

    $(document).ready(function () {

        ClickOnCell = function (p1, p2, p3) {
            debugger;
            if (p3 != 0 && p1 != 'ProjectName' && p1 !='DateOfService') {
                 $.ajax({
                type: "GET",
                url: "@Url.Action("GetChartSummaryReportDetails", "Home")",
                data: {
                    "ColumnName": p1,
                    "dos": p2,
                    "ProjectId":@ViewBag.ProjectId,
                    "DateType":'@ViewBag.DateType'
                },
                success: function (response) {
                    $("#modalContent1").html(response);
                },
                failure: function (response) {
                    alert(response);
                }
            });
            }
        };
    ModalClose1 = function () {
        $("#modalContent").html('');
        }
    });

</script>

