@model UAB.DTO.ChartSummaryDTO
@using UAB.enums

<style type="text/css">
    .col-md-3 {
        margin-left: 10px !important;
    }

    .form-control {
        padding: 0 !important;
    }

    div.CptlessWidth {
        max-width: 20% !important;
    }

    .ControlHeight {
        height: 32px !important;
    }

    label.lessWidth {
        max-width: 12% !important;
    }

    .AlignControl {
        margin-right: -115px;
    }

    .AdjustSerialNumber {
        max-width: 25px;
        padding-left: 5px;
    }
</style>
<div class="col-md-12">
    <div class="card">
        @*<div class="card-body">
                <h4 class="card-title"><span>Chart ID : <label style="color: black;">@Model.CodingDTO.ClinicalCaseID</label></span></h4>
            </div>*@
        @Html.HiddenFor(model => model.Links)
        @Html.HiddenFor(model => model.ProjectName)
        @Html.HiddenFor(model => model.ProjectID)
        @Html.HiddenFor(model => model.CodingDTO.ClinicalCaseID, new { @id = "ccid" })
        <input type="hidden" value="@Model.ProviderID" id="InitialProviderID" />
        @Html.Hidden("hdnDxCodes")
        @Html.Hidden("hdnCptCodes")
        @Html.Hidden("hdnClaim2")
        @Html.Hidden("hdnDxCodes1")
        @Html.Hidden("hdnCptCodes1")
        @Html.Hidden("hdnClaim3")
        @Html.Hidden("hdnDxCodes2")
        @Html.Hidden("hdnCptCodes2")
        @Html.Hidden("hdnClaim4")
        @Html.Hidden("hdnDxCodes3")
        @Html.Hidden("hdnCptCodes3")
        @Html.Hidden("hdnButtonType")
        @Html.Hidden("hdnSubmitAndPost")
        @Html.Hidden("hdnIsAuditRequired")
        @Html.Hidden("hdnIsAuditCalculated")
        @Html.Hidden("hdnProviderPosted")
        @Html.Hidden("hdnAuditProviders")
        @Html.Hidden("hdnAuditCPTCodes")

        @Html.HiddenFor(model => model.CCIDs)
        <input name="hdnCurrentCCId" type="hidden" value="@(ViewBag.CurrentCCId == null ? "0" : ViewBag.CurrentCCId)" />
        <input name="hdnIsBlocked" type="hidden" value="@(ViewBag.IsBlocked == null ? "0" : "1")" />


        <!-- Tabs -->
        <div id="modalContent"></div>
        <div id="modalContent1"></div>
        <div class="card">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item tabDiv1"> <a class="nav-link active tab" data-toggle="tab" id="1" alt="tabDiv1" href="#claim1" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down tabclick">Claim 1</span></a> </li>
                <li class="nav-item tabDiv2" style="display:inherit;"> <a class="nav-link tab" data-toggle="tab" id="2" alt="tabDiv2" href="#claim2" role="tab"> <span class="hidden-sm-up"></span> <span class="hidden-xs-down tabclick" id="htxt2">+</span></a><a class="nav-link" id="deleteclaim2" style="display:none;"><span class="btn btn-sm" onclick="Deletetabclaim('tabDiv_2')"><i class="fa fa-times"></i></span></a></li>
                <li class="nav-item tabDiv3" style="display:none;"> <a class="nav-link tab" style="height:46px" data-toggle="tab" id="3" alt="tabDiv3" href="#claim3" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down tabclick" id="htxt3">+</span></a><a class="nav-link" id="deleteclaim3" style="display:none;"><span class="btn btn-sm" onclick="Deletetabclaim('tabDiv_3')"><i class="fa fa-times"></i></span></a> </li>
                <li class="nav-item tabDiv4" style="display:none;"> <a class="nav-link tab" style="height:46px" data-toggle="tab" id="4" alt="tabDiv4" href="#claim4" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down tabclick" id="htxt4">+</span></a><a class="nav-link" id="deleteclaim4" style="display:none;"><span class="btn btn-sm" onclick="Deletetabclaim('tabDiv_4')"><i class="fa fa-times"></i></span></a> </li>
            </ul>
            <div class="tab-content tabcontent-border">
                <div class="tab-pane active" id="claim1" role="tabpanel">
                    <div class="p-20" id="tabDiv1">
                        <br />
                        <div class="form-group row">
                            <label class="col-md-3 m-t-15 AlignControl">Provider</label>
                            <div class="col-md-3" style="display:inherit;">
                                @if (@Model.ProviderID != 0)
                                {
                                    @Html.DropDownListFor(model => model.ProviderID, new SelectList(@ViewBag.Providers, "ID", "Name"), "--Select--", new { @class = "form-control CoderDetails ControlHeight", @style = "pointer-events:none;background-color:#e9ecef" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.ProviderID, new SelectList(@ViewBag.Providers, "ID", "Name"), "--Select--", new { @class = "form-control CoderDetails ControlHeight" })
                                }

                                @Html.ValidationMessageFor(model => model.ProviderID, null, new { @class = "text-danger" })
                            </div>
                            @if (@Model.ProviderID != 0)
                            {
                                <div class="custom-control custom-checkbox mr-sm-2 col-md-3" id="divWrongProvider">
                                    <input type="checkbox" class="custom-control-input" id="chkWrongProvider" onclick="EnableProviderDrpDwn()">
                                    <label class="custom-control-label" for="chkWrongProvider">Wrong Provider</label>
                                    <input type="hidden" name="hdnWrongProvider" id="hdnWrongProvider">
                                </div>
                            }
                        </div>
                        @if (@Model.ProjectTypename.ToUpper() != "IP")
                        {
                            <div class="form-group row">
                                <label class="col-md-3 m-t-15 AlignControl">Billing Provider</label>
                                <div class="col-md-3" style="display:inherit;">
                                    @Html.DropDownListFor(model => model.BillingProviderID, new SelectList(@ViewBag.Providers, "ID", "Name"), "--Select--", new { @class = "form-control CoderDetails ControlHeight" })
                                    @Html.ValidationMessageFor(model => model.BillingProviderID, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        <div class="form-group row">
                            <label class="col-md-3 m-t-15 AlignControl">Payor</label>
                            <div class="col-md-3" style="display:inherit;">
                                @Html.DropDownListFor(model => model.PayorID, new SelectList(@ViewBag.Payors, "ID", "Name"), "--Select--", new { @class = "form-control CoderDetails ControlHeight" })
                                @Html.ValidationMessageFor(model => model.PayorID, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 m-t-15 AlignControl">Note Title</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.NoteTitle, new { @class = "form-control CoderDetails ControlHeight", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.NoteTitle, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="DivDx">
                            <div class="form-group row" id="DivDxRow_1">
                                <label class="col-md-3 m-t-15 AlignControl">Dx</label>
                                <div class="col-md-3 input-group">
                                    <div class="input-group-prepend ControlHeight">
                                        <span class="input-group-text dxindex AdjustSerialNumber" id="basic-addon1">1</span>
                                    </div>
                                    @Html.TextBoxFor(model => model.Dx, new { @class = "form-control CoderDetails txtDx ControlHeight", @autocomplete = "off", @id = "txtDx_1", @placeholder = "Code", @onfocusout = "DxFunction('txtDx_1')" })
                                    @Html.ValidationMessageFor(model => model.Dx, null, new { @class = "text-danger Dxerror" })
                                    @*<button type="button" class="btn btn-sm" onclick="DeleteDxCodes('DivDxRow_1')"><i class="fa fa-times"></i></button>*@
                                </div>
                            </div>
                        </div>
                        <div id="DivCpt">
                            <div class="form-group row" id="DivCptRow_1">
                                <label class="col-md-3 m-t-15 AlignControl">CPT</label>
                                <div class="col-md-3 CptlessWidth input-group">
                                    <div class="input-group-prepend ControlHeight">
                                        <span class="input-group-text cptindex AdjustSerialNumber" id="basic-addon1">1</span>
                                    </div>
                                    @Html.TextBoxFor(model => model.CPTCode, new { @class = "form-control CoderDetails txtCpt ControlHeight", @autocomplete = "off", @placeholder = "Code", @id = "txtCpt_1", @tabindex = "5", @style = "max-width:55px;", @maxlength = "5" })
                                    <input maxlength="25" type="text" class="form-control CoderDetails txtMod" id="txtMod_1" autocomplete="off" placeholder="Mod" tabindex="6" style="max-width:50px;" />
                                    <input maxlength="25" type="text" id="txtQty_1" class="form-control CoderDetails cptQtyClaim txtQty" autocomplete="off" placeholder="Qty" value="1" tabindex="7" style="max-width:25px;" />
                                    <input maxlength="25" type="text" id="txtLinks_1" onfocusout="CptFunction('txtLinks_1')" class="form-control CoderDetails cptLinksClaim txtLinks" autocomplete="off" placeholder="Link All" tabindex="8" style="min-width:63px;" />
                                    @Html.ValidationMessageFor(model => model.CPTCode, null, new { @class = "text-danger Dxerror" })
                                    @*<button type="button" class="btn btn-sm" onclick="DeleteCptCodes('txtLinks_1')"><i class="fa fa-times"></i></button>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 m-t-15 AlignControl"> Provider Feedback</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.ProviderFeedbackID, new SelectList(@ViewBag.ProviderFeedbacks, "ID", "Name"), "--Select--", new { @class = "form-control CoderDetails ControlHeight" })
                                @Html.ValidationMessageFor(model => model.ProviderFeedbackID, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="claim2" role="tabpanel">
                    <div class="p-20" id="tabDiv2">
                    </div>
                </div>
                <div class="tab-pane" id="claim3" role="tabpanel">
                    <div class="p-20" id="tabDiv3">
                    </div>
                </div>
                <div class="tab-pane" id="claim4" role="tabpanel">
                    <div class="p-20" id="tabDiv4">
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body" style="text-align:right">
                        <a href="@Url.Action("GetBlockedChart", "UAB", new { Role = Roles.Coder, ChartType = "Block", ProjectID = @Model.ProjectID, ProjectName = Model.ProjectName, ccids = Model.CCIDs, Previous = "1", CurrCCId = ViewBag.CurrentCCId })" class="btn btn-success Available" id="btnPrevious" style="opacity: 0.65; pointer-events: none">Previous</a>
                        <a href="@Url.Action("GetBlockedChart", "UAB", new { Role = Roles.Coder, ChartType = "Block", ProjectID = @Model.ProjectID, ProjectName = Model.ProjectName, ccids = Model.CCIDs, Next = "1", CurrCCId = ViewBag.CurrentCCId })" class="btn btn-success Available" id="btnNext" style="opacity: 0.65; pointer-events: none">Next</a>
                        <button id="btnProviderPosted" name="btnProviderPosted" type="button" class="btn btn-danger" disabled onclick="">Provider Posted</button>
                        <button id="btnBlock" type="button" class="btn btn-danger" onclick="Block()">Block</button>
                        <button id="btnBlockHistory" style="display:none" type="button" class="btn btn-danger" onclick="BlockHistory()">Block History</button>
                        <button id="codingSubmit" name="codingSubmit" type="button" class="btn btn-success Available" disabled>Save</button>
                        <button id="codingSubmitAndGetNext" name="codingSubmitAndGetNext" type="button" value="codingSubmitAndGetNext" class="btn btn-success Available" disabled>Save And GetNext</button>
                        <button type="submit" class="btn btn-success Approved">Posting Completed</button>
                        <button id="postingSubmitAndGetNext" name="postingSubmitAndGetNext" type="submit" value="postingSubmitAndGetNext" class="btn btn-success Approved">Post And GetNext</button>
                        <a href="@Url.Action("CodingSummary", "UAB")" class="btn btn-danger Approved">Close</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="~/dashboardassets/extra-libs/DataTables/datatables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#txtQty_1,#txtLinks_1,.cptQtyClaim,.cptLinksClaim').on('keyup keypress change', function (e) {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });

        PostedByProvider = function () {

            $.ajax({
                type: "GET",
                url: "@Url.Action("ProviderPostedClinicalcase", "UAB")",
                data: {"ccid": $("#ccid").val()},
                success: function (response) {
                    $("#modalContent").html(response);
                },
                failure: function (response) {
                    alert(response);
                }
            });
        };
        Block = function () {

            $.ajax({
                type: "GET",
                url: "@Url.Action("BlockClinicalcase", "UAB")",
                data: {"ccid": $("#ccid").val()},
                success: function (response) {
                    $("#modalContent").html(response);
                },
                failure: function (response) {
                    alert(response);
                }
            });
        };

        BlockHistory = function () {

            var data = JSON.parse('@Html.Raw(Json.Serialize(Model.blockHistories))');

            $.ajax({
                type: "POST",
                url: "@Url.Action("BlockHistory", "UAB")",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#modalContent").html(response);
                },
                failure: function (response) {
                    alert(response);
                }
            });
        };
        $('#PayorID').change(function () {
            EnableButton();
        });
        $('#txtDx_1').change(function () {
            EnableButton();
        });
        $('#txtCpt_1').change(function () {
            EnableButton();
        });

        EnableButton = function () {
            if ($('#BillingProviderID').val() !== "" && $('#ProviderID').val() !== "" && $('#PayorID').val() !== "" && $('#txtDx_1').val() !== "" && $('#txtCpt_1').val() !== "" && $('#Providers_2').val() === undefined && $('#Providers_3').val() === undefined && $('#Providers_4').val() === undefined) {
                $('#codingSubmit').prop('disabled', false);
                $('#codingSubmitAndGetNext').prop('disabled', false);
                $('#btnProviderPosted').prop('disabled', false);
            }
            else {
                $('#codingSubmit').prop('disabled', true);
                $('#codingSubmitAndGetNext').prop('disabled', true);
                $('#btnProviderPosted').prop('disabled', true);
            }
        }

        $('#ProviderID').change(function () {
            EnableButton();
        });
        $('#BillingProviderID').change(function () {
            EnableButton();
        });
        $('#Providers_2').change(function () {
            EnableButtonForClaim2();
        });
        $('#Payors_2').change(function () {
            EnableButtonForClaim2();
        });
        $('#txtDx2Claim_1').change(function () {
            EnableButtonForClaim2();
        });
        $('#txt2Cpt_1').change(function () {
            EnableButtonForClaim2();
        });

        EnableButtonForClaim2 = function () {
            if ($('#PayorID').val() !== "" && $('#ProviderID').val() !== "" && $('#BillingProviderID').val() !== "" && $('#txtDx_1').val() !== "" && $('#txtCpt_1').val() !== ""
                && $('#Providers_2').val() !== "" && $('#BillingProviders_2').val() !== "" && $('#Payors_2').val() !== "" && $('#txtDx2Claim_1').val() !== "" && $('#txt2Cpt_1').val() !== "" && $('#Providers_3').val() === undefined && $('#Providers_4').val() === undefined && $('#BillingProviders_3').val() === undefined && $('#BillingProviders_4').val() === undefined) {
                $('#codingSubmit').prop('disabled', false);
                $('#codingSubmitAndGetNext').prop('disabled', false);
                $('#btnProviderPosted').prop('disabled', false);
            }
            else {
                $('#codingSubmit').prop('disabled', true);
                $('#codingSubmitAndGetNext').prop('disabled', true);
                $('#btnProviderPosted').prop('disabled', true);
            }
        }
    });
</script>

