
<style>
    .modal-content {
        margin-top: 90px;
    }

    .errorTxt {
        color: red;
        min-height: 20px;
    }

    .tableresponsiveforroles {
        max-height: 200px;
    }

    .roledddwith {
        width: 215px;
    }
</style>

<div class="modal fade modal-mini modal-primary show" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
    <input type="hidden" name="codingSubmitAndGetNext" value="@ViewBag.buttonType" />
    <div class="modal-dialog">
        <div class="modal-content" style="width:600px;max-height:500px;margin-top:200px !important">
            <div class="modal-header" style="background: #27a9e3;color: white;">
                <h5 class="modal-title" id="exampleModalLongTitle">Submit Coding</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ClosePopup()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @{string show = "", msg = "", showUnpostNo = "";}
            @{ if (ViewBag.isAuditRequired == "true")
                {
                    show = "display:none";
                    msg = "This chart is identified for Auditing. Please confirm this chart is not posted.";
                }
                else
                {
                    showUnpostNo = "display:none";
                    msg = "Confirm if the chart is posted?";
                }
            }
            <div class="table-responsive" style="max-height:400px">
                <br /><br /> <span style="text-align:center">&nbsp;@msg</span><br /><br />
            </div>
            <div class="modal-footer">
                <button type="submit" id="submitAndPost" name="submitAndPost" class="btn btn-sm btn-danger btn-fill">Yes</button>
                <button style="@show" onclick="ClosePopup()" type="button" class="btn btn-sm btn-danger btn-fill">No</button>
                <button id="btnNo" style="@showUnpostNo" type="button" class="btn btn-sm btn-danger btn-fill" onclick="UnpostChartConfirm()">No</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

       var isAuditRequired = @ViewBag.isAuditRequired;
        $("#hdnIsAuditRequired").val(isAuditRequired);

        $("#submitAndPost").click(function (e) {
            $("#hdnSubmitAndPost").val($(this).attr("id"));
        });

        ClosePopup = function () {
            $("#modalContent").html('');
        }

        CloseUnpostConfirmPopup = function () {
            $("#modalContent1").html('');
        }

         UnpostChartConfirm = function () {

             $.ajax({
                 type: "GET",
                 url: "@Url.Action("ConfirmUnpostChart", "UAB")",               
                success: function (response) {
                    $("#modalContent1").html(response);
                },
                failure: function (response) {
                    alert(response);
                }
            });
        };

    });

</script>
