@model UAB.DTO.ChartSummaryDTO
<style type="text/css">
    .col-md-3 {
        margin-left: 10px !important;
    }

    .form-control {
        padding: 0 !important;
    }
</style>
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Coding Details</h4>
        </div>
        @Html.HiddenFor(model => model.Dx)

        @Html.HiddenFor(model => model.CodingDTO.ClinicalCaseID, new { @class = "form-control", @autofocus = "autofocus", @autocomplete = "off" })
        <div class="form-group row">
            <label class="col-md-3 m-t-15">Payor</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.PayorID, new SelectList(@ViewBag.Payors, "ID", "Name"), "--Select--", new { @class = "form-control CoderDetails" })
                @Html.ValidationMessageFor(model => model.PayorID, null, new { @class = "text-danger" })
            </div>
            <label class="col-md-3 m-t-15">Note Title</label>
            <div class="col-md-3">
                @Html.TextAreaFor(model => model.NoteTitle, new { @class = "form-control CoderDetails", @autofocus = "autofocus", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.NoteTitle, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 m-t-15">Provider</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.ProviderID, new SelectList(@ViewBag.Providers, "ID", "Name"), "--Select--", new { @class = "form-control CoderDetails" })
                @Html.ValidationMessageFor(model => model.ProviderID, null, new { @class = "text-danger" })
            </div>
            <label class="col-md-3 m-t-15">CPT</label>
            <div class="col-md-3">
                @Html.TextAreaFor(model => model.CPTCode, new { @class = "form-control CoderDetails", @autofocus = "autofocus", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.CPTCode, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 m-t-15">Mod</label>
            <div class="col-md-3">
                @Html.TextAreaFor(model => model.Mod, new { @class = "form-control CoderDetails", @autofocus = "autofocus", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Mod, null, new { @class = "text-danger" })
            </div>
            <label class="col-md-3 m-t-15">Dx</label>
            <div class="col-md-3">
                @*@Html.TextAreaFor(model => model.Dx, new { @class = "form-control CoderDetails", @autofocus = "autofocus", @autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.Dx, null, new { @class = "text-danger" })*@
                <table>
                    <tbody id="tableid" style="display:block">
                        <tr id="tr0">
                            <td>
                                @Html.TextBoxFor(model => model.Dx, new { @class = "form-control CoderDetails", @autofocus = "autofocus", @autocomplete = "off", @id = "txt0", @title = "txt0" })
                                @Html.ValidationMessageFor(model => model.Dx, null, new { @class = "text-danger" })
                            </td>
                            <td>
                            <input type="button" title="btn_0" id="btnDelete" class="btn btn-info btn-sm" value="Delete" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 m-t-15"> Feedback to Provider</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.ProviderFeedbackID, new SelectList(@ViewBag.ProviderFeedbacks, "ID", "Name"), "--Select--", new { @class = "form-control CoderDetails" })
                @Html.ValidationMessageFor(model => model.ProviderFeedbackID, null, new { @class = "text-danger" })
            </div>
            <label class="col-md-3 m-t-15">Coder Questions</label>
            <div class="col-md-3">
                @Html.TextAreaFor(model => model.CoderQuestion, new { @class = "form-control CoderDetails", @autofocus = "autofocus", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.NoteTitle, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="border-top">
            <div class="card-body" style="text-align:right">
                <button name="codingSubmit" id="codingSubmit" value="btnSubmit" type="submit" class="btn btn-success Available">Save</button>
                <button value="btnHold" type="submit" class="btn btn-success Available">Save And GetNext</button>
                <button value="btnPostedCompleted" type="submit" class="btn btn-success Approved">Posted Completed</button>
            </div>
        </div>
    </div>
</div>

