@model UAB.DTO.ChartSummaryDTO
<style type="text/css">
    .col-md-3 {
        margin-left: 10px !important;
        max-width: 20% !important;
    }

    .card .card-title {
        margin-bottom: 0px !important;
    }

    .form-control {
        padding: 0 !important;
    }

    .col-sm-2 {
        max-width: 6.66667% !important;
    }

    .col-sm-3 {
        max-width: 20% !important;
    }
    #main-wrapper[data-sidebartype=full] .page-wrapper {
        margin-left: 190px;
    }
</style>

<div class="col-md-12 form-horizontal">
    <div class="card">
        <div class="card-body" style=" background-color: teal;padding:0.5rem 1.5rem;">
            <div id="modalContent"></div>
            <h3 class="card-title" style="color:white;margin-left:-10px;margin-top:-5px;">@Model.ProjectName</h3><br />
            <div class="form-group row" style="margin-bottom:-5px;color:white;">
                <label for="fname">Patient</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.CodingDTO.Name, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <label for="fname">DOS</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.CodingDTO.DateOfService, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <label for="fname">MRN</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.CodingDTO.PatientMRN, new { @class = "form-control", @readonly = "readonly" })
                </div>
                @if (@Model.CodingDTO.ListName != null && Model.CodingDTO.ListName !="")
                {
                    <label for="fname">List Name</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(model => model.CodingDTO.ListName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                }
                <div class="col-md-1">
                    <button type="button" style="color:white;text-decoration:underline;margin-top:-6px;" class="btn btn-link Available" onclick="ViewHistory()">View History</button>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="~/dashboardassets/extra-libs/DataTables/datatables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ViewHistory = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("ViewHistory", "UAB")",
                data: {"ccid": @Model.CodingDTO.ClinicalCaseID},
                success: function (response) {
                    $("#modalContent").html(response);
                },
                failure: function (response) {
                    alert(response);
                }
            });
        };
});
</script>

