@model UAB.DTO.ChartSummaryDTO
@{
    int id = 1;//ViewBag.id;
}
<style>
    .ControlHeight {
        height: 32px !important;
    }
    .AlignControl {
        margin-right: -115px;
    }
</style>
<br />
<div class="form-group row">
    <label class="col-md-3 m-t-15 AlignControl">Provider</label>
    <div class="col-md-3" style="display:inherit;">
        @Html.DropDownListFor(model => model.ProviderID, new SelectList(@ViewBag.Providers, "ID", "Name"), "--Select--", new { @class = "form-control CoderDetails ControlHeight" })
        @Html.ValidationMessageFor(model => model.ProviderID, null, new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 m-t-15 AlignControl">Payor</label>
    <div class="col-md-3" style="display:inherit;">
        @Html.DropDownListFor(model => model.PayorID, new SelectList(@ViewBag.Payors, "ID", "Name"), "--Select--", new { @class = "form-control CoderDetails ControlHeight" })
        @Html.ValidationMessageFor(model => model.PayorID, null, new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 m-t-15 AlignControl">Note Title</label>
    <div class="col-md-3">
        @Html.TextAreaFor(model => model.NoteTitle, new { @class = "form-control CoderDetails ControlHeight", @autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.NoteTitle, null, new { @class = "text-danger" })
    </div>
</div>
<div id="DivDx1">
    <div class="form-group row" id="DivDxRow_0">
        <label class="col-md-3 m-t-15 AlignControl">Dx</label>
        <div class="col-md-3 lessWidth input-group">
            <div class="input-group-prepend ControlHeight">
                <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            <input type="text" id="txtDxx_@id" onfocusout="DxFunction1('txtDx_@id')" class="form-control CoderDetails txtDx ControlHeight" autocomplete="off" placeholder="Code" />
            @Html.ValidationMessageFor(model => model.Dx, null, new { @class = "text-danger Dxerror" })
        </div>
    </div>
</div>
<div id="DivCpt1">
    <div class="form-group row" id="DivCptRow_0">
        <label class="col-md-3 m-t-15 AlignControl">CPT</label>
        <div class="col-md-3 CptlessWidth input-group">
            <div class="input-group-prepend ControlHeight">
                <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            @Html.TextBoxFor(model => model.CPTCode, new { @class = "form-control CoderDetails txtCpt ControlHeight", @autocomplete = "off", @placeholder = "Code", @id = "txtCpt1_" + id, @tabindex = "5" })
            <input type="text" class="form-control CoderDetails ControlHeight" id="txtMod1_@id" autocomplete="off" placeholder="Mod" tabindex="6" />
            <input type="text" id="txtQty1_@id" class="form-control CoderDetails ControlHeight" autocomplete="off" placeholder="1" value="1" tabindex="7" />
            <input type="text" id="txtLinks1_@id" onfocusout="CptFunction1('txtLinks_@id')" class="form-control CoderDetails ControlHeight" autocomplete="off" placeholder="Link All" tabindex="8" />
            @Html.ValidationMessageFor(model => model.CPTCode, null, new { @class = "text-danger Dxerror" })
        </div>
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 m-t-15 AlignControl"> Feedback to Provider</label>
    <div class="col-md-3">
        @Html.DropDownListFor(model => model.ProviderFeedbackID, new SelectList(@ViewBag.ProviderFeedbacks, "ID", "Name"), "--Select--", new { @class = "form-control CoderDetails ControlHeight" })
        @Html.ValidationMessageFor(model => model.ProviderFeedbackID, null, new { @class = "text-danger" })
    </div>
</div>

