@using System.Data
@model DataSet
@{
    ViewData["Title"] = "Posted Chart Report";
}

<style>
    .table td, .table th {
        padding: 10px !important;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    th.sorting_asc {
        width: 160px !important;
    }

    .pagination {
        margin-left: 200px;
    }

    .alert {
        padding: 0.5rem 1.25rem;
    }
    .linkToButton {
        background-color: #2255a4;
        height: 32px;
        line-height: 2;
        max-width: 62px;
        color: white;
        cursor: pointer;
    }

    .whiteLink {
        color: white !important
    }

        .whiteLink:hover {
            color: white !important
        }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="col-12 row">
                        <div class="col-11">
                            <h5 class="card">Posted Chart Report</h5>
                        </div>
                        <div class="col-1 linkToButton">
                            @Html.ActionLink("Export", "ExportPostedChartsReport", "Home",new { projectId = @ViewBag.ProjectId, range = @ViewBag.range, StartDate = @ViewBag.StartDate, EndDate = @ViewBag.EndDate },new { @class= "whiteLink" })
                        </div>
                        <input id="projectId" type="hidden" value="@ViewBag.ProjectId" />
                        <input id="rangeId" type="hidden" value="@ViewBag.range" />
                        <input id="StartDate" type="hidden" value="@ViewBag.StartDate" />
                        <input id="EndDate" type="hidden" value="@ViewBag.EndDate" />
                    </div>

                    @*<h5 class="card">Posted Chart Report</h5>
        <input id="projectId" type="hidden" value="@ViewBag.ProjectId" />
        <input id="rangeId" type="hidden" value="@ViewBag.range" />*@
                    <div id="modalContent2"></div>
                    <div class="table-responsive col-8">
                        <table id="Posts" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    @foreach (DataColumn clmn in Model.Tables[0].Columns)
                                    {
                                        <th style="width: 250px; font-weight:900;">@clmn.ColumnName</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>

                                @for (int i = 0; i < Model.Tables[0].Rows.Count; i++)
                                {
                                    <tr class="body">
                                        @for (int j = 0; j < Model.Tables[0].Columns.Count; j++)
                                        {
                                            if (@ViewBag.range == "PerDay")
                                            {
                                                @if (@Model.Tables[0].Columns[j].ColumnName == "Total")
                                                {
                                                    <td>
                                                        <span onclick="ClickOnCell('@Model.Tables[0].Rows[i][1]','@Model.Tables[0].Rows[i][0]')" style="cursor:pointer;text-decoration:underline;color:cornflowerblue;">@Model.Tables[0].Rows[i][j]</span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>@Model.Tables[0].Rows[i][j]</td>
                                                }
                                            }
                                            else if (@ViewBag.range == "PerWeek")
                                            {
                                                @if (@Model.Tables[0].Columns[j].ColumnName == "Total")
                                                {
                                                    <td>
                                                        <span onclick="ClickOnCell('@Model.Tables[0].Rows[i][3]','@Model.Tables[0].Rows[i][0]','@Model.Tables[0].Rows[i][1]','@Model.Tables[0].Rows[i][2]')" style="cursor:pointer;text-decoration:underline;color:cornflowerblue;">@Model.Tables[0].Rows[i][j]</span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>@Model.Tables[0].Rows[i][j]</td>
                                                }
                                            }
                                            else
                                            {
                                                @if (@Model.Tables[0].Columns[j].ColumnName == "Total")
                                                {
                                                    <td>
                                                        <span onclick="ClickOnCell('@Model.Tables[0].Rows[i][3]','@Model.Tables[0].Rows[i][1]','@Model.Tables[0].Rows[i][2]')" style="cursor:pointer;text-decoration:underline;color:cornflowerblue;">@Model.Tables[0].Rows[i][j]</span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>@Model.Tables[0].Rows[i][j]</td>
                                                }
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/extra-libs/DataTables/datatables.js"></script>
<script type="text/javascript">
    $('#Posts').DataTable();
    $('#Posts').dataTable({
        "oLanguage": {
            "sLengthMenu": "Show Entries _MENU_ "
        },
        "bDestroy": true
    });

    var postsArray = [];
    var postscolor = ['', 'odd', 'even', 'odd', 'even'];
    var backgroundcolor = ['', "rgba(0, 0, 0, 0.05)", "rgba(0, 0, 0, 0)", "rgba(0, 0, 0, 0.05)", "rgba(0, 0, 0, 0)"];
    $(".body").each(function () {
        var id = $(this).attr("data");
        if ($.inArray(id, postsArray) == -1) {
            postsArray.push(id);
            $(this).addClass(postscolor[id]);
            $(this).css("background-color", backgroundcolor[id]);
        } else {
            $(this).addClass(postscolor[id]);
            $(this).css("background-color", backgroundcolor[id]);
        }
    });

    $(document).ready(function () {

        ClickOnCell = function (p1, p2, p3, p4) {
            var projectId = $("#projectId").val();
            var range = $("#rangeId").val();
            if (range== 'PerDay') {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetPostedReportDetails", "Home")",
                    data: {
                        "Total": p1,
                        "date": p2,
                        "ProjectId":projectId,
                        "range": range,
                        "StartDate": $("#StartDate").val(),
                        "EndDate": $("#EndDate").val()
                    },
                    success: function (response) {
                        $("#modalContent2").html(response);
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            }
            else if (range== 'PerWeek') {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetPostedReportDetails", "Home")",
                    data: {
                        "Total": p1,
                        "date": $("#StartDate").val(),
                        "week": p2,
                        "month": p3,
                        "year":p4,
                        "ProjectId":projectId,
                        "range": range,
                        "StartDate": $("#StartDate").val(),
                        "EndDate": $("#EndDate").val()
                    },
                    success: function (response) {
                        $("#modalContent2").html(response);
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetPostedReportDetails", "Home")",
                    data: {
                        "Total": p1,
                        "month": p2,
                        "date": $("#StartDate").val(),
                        "year":p3,
                        "ProjectId":projectId,
                        "range": range,
                        "StartDate": $("#StartDate").val(),
                        "EndDate": $("#EndDate").val()
                    },
                    success: function (response) {
                        $("#modalContent2").html(response);
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            }
        };
    ModalClose1 = function () {
        $("#modalContent").html('');
        }
    });
</script>

